<div class="sidebarMenu col-xs-12 collapse navbar-collapse">
    <ul class="nav m-t-sm m-b-sm">
        <li>
            <a routerLink="/about-worbby">{{l("AboutWorbby")}}</a>
        </li>
        <li>
            <a routerLink="/how-does-it-work">{{l("HowDoesItWork")}}</a>
        </li>
        <li>
            <a routerLink="/faq">{{l("Faq")}}</a>
        </li>
        <li>
            <a routerLink="/become-a-worbbior">{{l("BecomeAWorbbior")}}</a>
        </li>
        <li>
            <a routerLink="/contact">{{l("Contact")}}</a>
        </li>
        <li>
            <a routerLink="/insurance">{{l("Insurance")}}</a>
        </li>
        <li>
            <a routerLink="/terms-and-conditions">{{l("TermsAndConditions")}}</a>
        </li>
    </ul>
</div>