<div [@routerTransition]>
    <section class="HowItsWorks">
        <div class="container-fluid bg-Solititude">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                        <h1 class="cor-Tangerine m-t-lg">{{l("HowDoesItWork")}}</h1>
                    </div>
                </div>
                <!-- Step 01 : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">
                    <div class="col-xs-5 col-xs-offset-1">
                        <img class="img-responsive alignCenter full-width img-step" width="410px" src="/assets/metronic/worbby/global/img/photo-passo1.png" alt="Step 1" />
                    </div>
                    <div class="col-xs-5">
                        <h3 class="cor-Tangerine m-t-sm no-scale">1. Ache ou poste uma tarefa</h3>    
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 m-b-xs">
                        <p>
                            Procure diversos serviços que nossa comunidade de talentos pode oferecer a você. Há opções para quem precisa de consertos, se preocupa com a família, gosta de esportes, é apaixonado por bichos e muitas outras.
                        </p>
                        <p>
                            Você pode procurar por tarefas ou talentos específicos, como por exemplo, “acompanhar pessoa idosa para fazer compras” ou simplesmente contar-nos qual tarefa você precisa.
                        </p>
                        <p>
                            Basta dar um título à sua tarefa e descrever suas necessidades. Depois, forneça detalhes como dia e horário que a tarefa deve ser realizada e até quanto você está disposto a pagar.
                        </p>
                    </div>
                </div>
                <!-- Step 01 : Fim -->
                <!-- Step 02 RIGHT : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">                    
                    <div class="col-xs-5  col-xs-offset-1 col-sm-10">
                        <h3 class="cor-Tangerine m-t-sm no-scale">2. Selecione um talento</h3>    
                    </div>
                     <div class="col-xs-5 col-sm-push-6">
                        <img class="img-responsive alignCenter full-width img-step-right width-330px" src="/assets/metronic/worbby/global/img/photo-passo2.png" alt="Step 2" />
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-pull-5 m-b-xs">
                        <p>
                            Você vai encontrar os melhores talentos, worbbiors, para a realizar a tarefa que você precisa. Filtre por localidade, preço, interesse ou avaliação. Selecione um dos worbbiors disponíveis para ver mais detalhes sobre ele e escolha um para realizar a sua tarefa.
                        </p>
                        <p>
                            Se você tornar pública a sua tarefa, você receberá ofertas de worbbiors dispostos a executá-la com a dedicação e excelência que você merece. A escolha é sua!
                        </p>
                    </div>
                </div>
                <!-- Step 02 RIGHT : Fim -->
                <!-- Step 03 : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">
                    <div class="col-xs-5 col-xs-offset-1">
                        <img class="img-responsive alignCenter full-width img-step width-330px" src="/assets/metronic/worbby/global/img/photo-passo3.png" alt="Step 3" />
                    </div>
                    <div class="col-xs-5">
                        <h3 class="cor-Tangerine m-t-sm no-scale">3. Combine os detalhes e contrate</h3>    
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 m-b-xs">
                        <p>
                            O Worbby oferece um sistema de chat privado e seguro entre você e o worbbior para acertar eventuais detalhes. Após tudo combinado, clique em “contratar”. 
                        </p>
                        <p>
                            Neste momento, o valor combinado será reservado no seu cartão de crédito, dando segurança para as duas partes: para você, que só terá o valor debitado somente quando a tarefa for realizada, e para o worbbior, que terá assegurado o pagamento.
                        </p>    
                    </div>
                </div>
                <!-- Step 03 : Fim -->
                <!-- Step 04 RIGHT : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">
                    
                    <div class="col-xs-5  col-xs-offset-1 col-sm-10">
                        <h3 class="cor-Tangerine m-t-sm no-scale">4. Confirme a tarefa e pague</h3>    
                    </div>
                     <div class="col-xs-5 col-sm-push-6">
                        <img class="img-responsive alignCenter full-width img-step-right width-330px" src="/assets/metronic/worbby/global/img/photo-passo4.png" alt="Step 4" />
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-pull-5 m-b-xs">
                        <p>
                            O worbbior (talento) e o worbient (cliente) devem confirmar a realização da tarefa. Somente após a confirmação das duas partes é que o pagamento será debitado do cartão de crédito do worbbient. 
                        </p>
                        <p>
                            Em caso de cancelamento, uma taxa pode ser aplicada. <a href="#" class="cor-Tangerine"> Veja os termos de uso</a>.
                        </p>
                    </div>
                </div>
                <!-- Step 04 RIGHT : Fim -->
                <!-- Step 05 : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">
                    <div class="col-xs-5 col-xs-offset-1">
                        <img class="img-responsive alignCenter full-width img-step width-330px" src="/assets/metronic/worbby/global/img/photo-passo5.png" alt="Step 5" />
                    </div>
                    <div class="col-xs-5">
                        <h3 class="cor-Tangerine m-t-sm no-scale">5. Avalie o worbbior</h3>    
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 m-b-xs">
                        <p>
                            Conte-nos como foi sua experiência. Sua opinião é muito importante tanto para quem precisa realizar uma tarefa quanto para quem oferece suas habilidades. 
                        </p>
                        <p>
                            Você pode valorizar o talento de um worbbior de três formas:
                        </p> 
                        <ol>
                            <li>Avaliando-o e deixando um comentário.</li>
                            <!--<li>Dando uma gorjeta on-line (opcional), que será debitada do cartão de crédito.</li>-->
                            <li>Compartilhando a sua experiência nas redes sociais.</li>
                        </ol>                        
                    </div>
                </div>
                <!-- Step 05 : Fim -->
                <!-- Step 06 RIGHT : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">                    
                    <div class="col-xs-5  col-xs-offset-1 col-sm-10">
                        <h3 class="cor-Tangerine m-t-sm no-scale">6. Meu Worbby</h3>    
                    </div>
                     <div class="col-xs-5 col-sm-push-6">
                        <img class="img-responsive alignCenter full-width img-step-right width-330px" src="/assets/metronic/worbby/global/img/photo-passo6.png" alt="Step 6" />
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-pull-5 m-b-xs">
                        <p>
                            A qualquer momento, você pode ter acesso às suas tarefas postadas, oferecidas ou já realizadas, histórico de pagamento, etc.
                        </p>
                        <p>
                            Você recebe notificações sempre que houver uma oferta, uma resposta ou comentário ou qualquer outro tipo de mensagem importante.
                        </p>
                        <p>
                            <a routerLink="/talentos" class="btn btn-round bg-Sunglow cor-White m-b-lg m-t-xxs"><span>Veja todos os talentos</span></a> 
                        </p>
                    </div>
                </div>
                <!-- Step 06 RIGHT : Fim -->
            </div>
        </div>
    </section>

    <!-- Ir ao Topo -->
    <button class="btn btn-anchor-para-topo visible-xs" (click)="goTo('topo')">
        <i class="fa fa-angle-double-up no-m-x"></i>
    </button>
</div>