<div [@routerTransition]>
    <section class=" AboutWorbby">
        <div class="container-fluid bg-Solititude">
            <div class="container">
                <div class="row">
                    <!-- o que é : inicio -->
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                        <h1 class="cor-Tangerine m-t-lg"> O que é Worbby?</h1>
                        <h2 class="cor-Cinder m-b-xs"> Worbby é uma plataforma que conecta você com pessoas talentosas e apaixonadas pelo que fazem</h2>
                    </div>
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <img class="img-responsive alignCenter full-width" src="/assets/metronic/worbby/global/img/img-temp.jpg" alt="imagem temporária" />
                    </div>
                    <!-- o que é : Fim -->
                    <!-- Worbby : inicio -->
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 card-up">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                                        <h3 class="cor-Tangerine">Work + Hobby = Worbby</h3>
                                        <h4> Quantas vezes desejou encontrar rapidamente uma pessoa competente e dedicada para
                                            resolver algo para você ou alguém com habilidades que você não tem?</h4>
                                        <a class="btn btn-prime btn-around btn-block m-t-md m-b-30px-sm" routerLink="/talentos">
                                            Veja todos os talentos
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <p> Os worbbiors, como chamamos os nossos talentos, estão prontos para te ajudar em diferentes
                                            tarefas, das mais simples ou comuns até as mais complicadas ou estranhas.</p>
                                        <p> Os worbbiors podem, por exemplo, fazer um presente personalizado para alguém especial,
                                            organizar armários, configurar celulares e computadores, fazer cartões de visita
                                            e muitas outras coisas que você nem imaginava que tivesse alguém para fazer.
                                            São diversos tipos de talentos e tarefas à sua disposição.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Worbby : Fim -->
                    <!-- Detalhe 1 : inicio -->
                    <div class="col-xs-12 m-t-sm">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 m-t-lg">
                                <img class="img-responsive alignCenter full-width imgShadow m-b-xss" src="/assets/metronic/worbby/global/img/photo-talents@2x-como.jpg" alt="Foto do Talento" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                                <img class="img-responsive detalhe-img" src="/assets/metronic/worbby/global/img/icon-worbbior.svg" alt="" />
                                <h3 class="cor-Tangerine m-t-xs"> Com flexibilidade de horário e segurança, basta alguns cliques para ter um worbbior disponível
                                    em sua casa, trabalho, virtualmente ou em qualquer outro local.</h3>
                                <p> E você ainda pode se surpreender ao descobrir worbbiors tão próximos, como um vizinho com
                                    talentos que você nem sabia. Experimente e sinta a diferença quando algo é feito com
                                    talento e paixão.</p>
                                <a class="btn btn-prime btn-around btn-block m-t-md m-b-sm" routerLink="/talentos">
                                Veja todos os talentos
                            </a>
                            </div>
                        </div>
                    </div>
                    <!-- Detalhe 1 : Fim -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <!-- Detalhe 2 : inicio -->
                    <div class="col-xs-12 m-t-sm">
                        <div class="row">

                            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                                <img class="img-responsive detalhe-img" src="/assets/metronic/worbby/global/img/icon-travel.svg" alt="Cadastre-se" />
                                <h3 class="cor-Tangerine m-t-xs"> Inicialmente, atuamos somente no estado do Rio de Janeiro. Em breve, vamos expandir para
                                    os demais estados brasileiros e quem sabe outros países.</h3>
                                <p> Se você é de outro estado, faça o seu cadastro para que possamos avisá-lo quando a plataforma
                                    estará disponível em sua cidade.</p>
                                <a class="btn btn-prime btn-around btn-block m-t-md m-b-sm" routerLink="/login">
                                Cadastre-se aqui
                            </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 m-t-lg">
                                <img class="img-responsive alignCenter full-width imgShadow m-b-xss" src="/assets/metronic/worbby/global/img/photo-rio@2x.jpg" alt="foto Rio" />
                            </div>
                        </div>
                    </div>
                    <!-- Detalhe 2 : Fim -->
                </div>
            </div>
        </div>
        <!-- Missao : Inicio -->
        <div class="container-fluid bg-Solititude">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center m-t-sm">
                        <img class="img-responsive alignCenter detalhe-img" src="/assets/metronic/worbby/global/img/icon-heart.svg" alt="coração icon" />
                        <h2 class="cor-Tangerine"> Nossa missão é</h2>
                        <p> Criar uma comunidade onde todos desfrutem de uma vida mais produtiva e feliz. Ajudar as pessoas a
                            identificar e aplicar suas competências individuais em tarefas prazerosas, aumentando assim sua
                            autoestima e satisfação.</p>
                    </div>
                    <div class="col-xs-12 col-md-10 col-md-offset-1 m-b-sm">
                        <img class="img-responsive alignCenter full-width imgShadow" src="/assets/metronic/worbby/global/img/photo-team@2x.jpg" alt="foto da equipe" />
                        <p class="small cor-Botticelli text-center"> Quem somos? Somos uma equipe multidisciplinar e multicultural, com integrantes de diversas partes
                            do mundo.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Missao : Fim -->
        <!-- Acreditamos que : Inicio -->
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 m-t-sm">
                        <h3 class="cor-Tangerine"> Nós acreditamos que:</h3>

                        <div class="row  m-b-sm">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <img class="img-responsive detalhe-img-small" src="/assets/metronic/worbby/global/img/icon-heart-small.svg" alt="coração icon" />
                                <p> Cada ser humano é dotado de competências (aptidões naturais e conhecimentos).</p>
                                <p> Mas nem todos ainda descobriram quais são elas ou nãos as valorizam. Por isso, <span class="cor-Tangerine">ajudamos na identificação desses talentos</span>                                    e habilidades por meio de testes e outras avaliações.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <img class="img-responsive detalhe-img-small" src="/assets/metronic/worbby/global/img/icon-heart-small.svg" alt="coração icon" />
                                <p> Valorizando e dando oportunidades a talentos contribuímos para a <span class="cor-Tangerine">realização pessoal de cada indivíduo</span>.</p>
                                <p> Algo feito com alegria, paixão, respeito e talento só traz resultados positivos para quem
                                    executa e para quem recebe. É satisfação para todos os envolvidos.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <img class="img-responsive detalhe-img-small" src="/assets/metronic/worbby/global/img/icon-heart-small.svg" alt="coração icon" />
                                <p> A conexão entre pessoas em nossa plataforma é uma forma de <span class="cor-Tangerine">ajuda mútua</span>.</p>
                                <p> O worbbior (talento) atende a uma necessidade do worbbient (cliente). Esse por sua vez valoriza
                                    as habilidades do worbbior, remunerando-o justamente, recomendando e avaliando-o positivamente.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <img class="img-responsive detalhe-img-small" src="/assets/metronic/worbby/global/img/icon-heart-small.svg" alt="coração icon" />
                                <p> Atitude positiva e o desejo de fazer o bem <span class="cor-Tangerine">constroem relacionamentos respeitosos</span>.</p>
                                <p> As pessoas precisam de mais tempo para aproveitar a vida. O Worbby descomplica o cotidiano
                                    de cada indivíduo.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Acreditamos que : Fim -->
    </section>
</div>