<div [@routerTransition]>
    <div class="container-fluid bg-Solititude bg-fluid-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                    <h1 class="cor-Tangerine m-t-lg">{{l("ChangePassword")}}</h1>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <p>
                        {{l("PleaseEnterYourNewPassword")}}
                    </p>
                    <form #resetPassForm="ngForm" class="login-form" method="post" (ngSubmit)="save()">
                        <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">{{l("Password")}}</label>
                        <input type="password" name="Password" class="form-control" [(ngModel)]="model.password" #Password="ngModel" placeholder="{{l('Password')}}" validateEqual="PasswordRepeat"
                                reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                                required>
                        </div>
                        <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
                        <ul class="help-block text-danger" *ngIf="Password.errors">
                            <li [hidden]="!Password.errors.requireDigit">{{l("PasswordComplexity_RequireDigit_Hint")}}</li>
                            <li [hidden]="!Password.errors.requireLowercase">{{l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                            <li [hidden]="!Password.errors.requireUppercase">{{l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                            <li [hidden]="!Password.errors.requireNonAlphanumeric">{{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                            <li [hidden]="!Password.errors.requiredLength">{{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
                        </ul>
                        </div>
                        <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">{{l("PasswordRepeat")}}</label>
                        <input type="password" name="PasswordRepeat" class="form-control" [ngModel]="model.passwordRepeat" #PasswordRepeat="ngModel" placeholder="{{l('PasswordRepeat')}}" validateEqual="Password"
                                reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                                required>
                        </div>
                        <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
                        <ul class="help-block text-danger" *ngIf="PasswordRepeat.errors">
                            <li [hidden]="!PasswordRepeat.errors.requireDigit">{{l("PasswordComplexity_RequireDigit_Hint")}}</li>
                            <li [hidden]="!PasswordRepeat.errors.requireLowercase">{{l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                            <li [hidden]="!PasswordRepeat.errors.requireUppercase">{{l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                            <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">{{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                            <li [hidden]="!PasswordRepeat.errors.requiredLength">{{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
                        </ul>
                        </div>
                        <div class="form-actions">
                        <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
                        <button type="submit" class="btn btn-success uppercase" [disabled]="!resetPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{l("Submit")}}</button>
                        </div>

                    </form>
                    <!--<form #resetPassForm="ngForm" class="login-form" method="post" (ngSubmit)="save()">
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">{{l("Password")}}</label>
                            <input type="password" name="Password" class="form-control" [(ngModel)]="model.password" #Password="ngModel" placeholder="{{l('Password')}}" validateEqual="PasswordRepeat"
                                reverse="true" [minlength]="passwordComplexitySetting.minLength" [maxlength]="passwordComplexitySetting.maxPasswordLength"
                                [useNumbers]="passwordComplexitySetting.useNumbers" [useUpperCaseLetters]="passwordComplexitySetting.useUpperCaseLetters"
                                [useLowerCaseLetters]="passwordComplexitySetting.useLowerCaseLetters" [usePunctuations]="passwordComplexitySetting.usePunctuations"
                                required>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">{{l("PasswordRepeat")}}</label>
                            <input type="password" name="PasswordRepeat" class="form-control" [ngModel]="model.passwordRepeat" placeholder="{{l('PasswordRepeat')}}" validateEqual="Password"
                                reverse="false" required>
                        </div>
                        <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
                            <ul class="help-block text-danger" *ngIf="Password.errors">
                                <li [hidden]="!Password.errors.minlength">{{l("PasswordComplexity_MinLength_Hint",passwordComplexitySetting.minLength)}}</li>
                                <li [hidden]="!Password.errors.maxLenght">{{l("PasswordComplexity_MaxLength_Hint",passwordComplexitySetting.maxLength)}}</li>
                                <li [hidden]="!Password.errors.useUpperCaseLetters">{{l("PasswordComplexity_UseUpperCaseLetters_Hint")}}</li>
                                <li [hidden]="!Password.errors.useLowerCaseLetters">{{l("PasswordComplexity_UseLowerCaseLetters_Hint")}}</li>
                                <li [hidden]="!Password.errors.useNumbers">{{l("PasswordComplexity_UseNumbers_Hint")}}</li>
                                <li [hidden]="!Password.errors.usePunctuations">{{l("PasswordComplexity_UsePunctuations_Hint")}}</li>
                            </ul>
                        </div>
                        <div class="form-actions">
                            <button [disabled]="saving" routerLink="/login" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
                            <button type="submit" class="btn btn-success uppercase" [disabled]="!resetPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SendWithThreeDot')"><i class="fa fa-check"></i> <span>{{l("Submit")}}</span></button>
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>