<h3 class="cor-Cinder profile-xs m-t-20px">Carteira</h3>

                            <!--<button type="button" (click)="testConfirmRequest()">Confirmar transferência</button>
                            <button type="button" (click)="testCancelRequest()">Cancelar transferência</button>
                            <input type="number" [(ngModel)]="transferId"/>-->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-clean">
            <div class="panel-body p-xss">                 
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Saldo</h5>
                    </div>
                    <div class="col-xs-12">
                        <table class="table table-hover table-payment">
                            <tbody>
                                <!--<tr>
                                    <td>
                                        <h5>
                                            Saldo Worbby disponível 
                                            <i class="fa fa-question-circle tooltip-icone" placement="right" tooltip="Explicação"></i>
                                        </h5>
                                    </td>
                                    <td>
                                        {{balanceAvailable / 100 | currency:'BRL':true:'1.2-2'}}
                                    </td>
                                </tr>-->
                                <tr>
                                    <td>
                                        <h5>
                                            Saldo liberado p/ transferência
                                            <!-- <i class="fa fa-question-circle tooltip-icone" placement="right" tooltip="Explicação"></i> -->
                                        </h5>
                                    </td>
                                    <td>
                                        {{balanceAvailable / 100 | currency:'BRL':true:'1.2-2'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
                <div *ngIf="balanceAvailable > 0" class="row">             
                    <div class="col-xs-12 text-center m-t-20px">
                        <button class="btn btn-prime white-space" type="button" (click)="requestBalanceAvailable()">Transferir saldo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-clean">
            <div class="panel-body p-xss"> 
               <div class="row m-b-20px">
                    <div class="col-xs-12 col-sm-5 m-b-10px">
                        <h5>Histórico</h5>                        
                    </div>
                    <div class="col-xs-12 col-sm-5 text-right payment-date-picker m-b-10px">
                        <date-range-picker [(startDate)]="filtroDataHistorico.de" 
                                           [(endDate)]="filtroDataHistorico.ate"
                                           [dateRangePickerOptions]="{'opens': 'left'}">
                        </date-range-picker>
                    </div>
                    <div class="col-xs-12 col-sm-2 payment-date-picker m-b-10px">
                        <button class="btn btn-prime btn-block">
                            <i class="fa fa-filter"></i>
                        </button>
                    </div>
               </div>
               <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-hover table-payment">
                            <tbody>
                                <tr>
                                    <td>
                                        <h4>Recebidos</h4>
                                    </td>
                                    <td>
                                        R$ <span class="cor-CaribbeanGreen">5320,00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>
                                            - Pagos<br />
                                            <small>com créditos worbby</small>
                                        </h5>
                                    </td>
                                    <td>
                                        R$ <span class="cor-Flamingo">120,00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>
                                            - Reservados <i class="fa fa-question-circle tooltip-icone" placement="right" tooltip="Explicação"></i><br />
                                            <small>tarefas já contratadas</small>
                                        </h5>
                                    </td>
                                    <td>
                                        R$ <span class="cor-Flamingo">40,00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>
                                            - Transferidos<br />
                                            <small>para sua conta</small>
                                        </h5>
                                    </td>
                                    <td>
                                        R$ <span class="cor-Flamingo">4200,00</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><h3>TOTAL</h3></td>
                                    <td>
                                        R$ <span class="cor-CaribbeanGreen">960,00</span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>-->

<h3 class="cor-Cinder profile-xs m-t-20px">Transferências</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-clean">
            <div class="panel-body p-xss"> 
                <div class="row m-b-20px">
                    <div class="col-xs-12 col-sm-offset-5 col-sm-5 text-right payment-date-picker m-b-10px">
                        <date-range-picker 
                            [(startDate)]="filterBalanceTransferDate.start" 
                            [(endDate)]="filterBalanceTransferDate.end"
                            [dateRangePickerOptions]="{'opens': 'left'}"
                            (applyClick)="getBalanceTransfers(1)">
                        </date-range-picker>
                    </div>
                    <div class="col-xs-12 col-sm-2 payment-date-picker m-b-10px">
                        <button (click)="getBalanceTransfers(1)" class="btn btn-prime btn-block">
                            <i class="fa fa-filter"></i>
                        </button>
                    </div>
               </div>
               <div class="row">
                   <div class="col-xs-12">
                       <table class="table table-hover table-payment">
                            <thead>
                                <tr>
                                    <th colspan="2">TOTAL</th>
                                    <th>
                                        R$ <span>{{balanceTransfersTotal / 100 | number:'1.2-2'}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let balanceTransferOutput of balanceTransfers">
                                    <td>{{balanceTransferOutput.balanceTransfer.lastModificationTime ? (balanceTransferOutput.balanceTransfer.lastModificationTime | amDateFormat:'DD/MM/YYYY')  : (balanceTransferOutput.balanceTransfer.creationTime | amDateFormat:'DD/MM/YYYY')}}</td>
                                    <td>Conta {{balanceTransferOutput.balanceTransfer.bankAccount.bank}} {{balanceTransferOutput.balanceTransfer.bankAccount.agency}} {{balanceTransferOutput.balanceTransfer.bankAccount.currentAccount}}<br /> <small><i class="cor-DarkDenim">{{l(BalanceTransferStatus[balanceTransferOutput.balanceTransfer.balanceTransferStatus.toString()])}}</i></small></td>
                                    <td>R$ 
                                        <span [ngClass]="{
                                                'cor-CaribbeanGreen': balanceTransferOutput.balanceTransfer.balanceTransferStatus == BalanceTransferStatus.Credited,
                                                'cor-Flamingo': balanceTransferOutput.balanceTransfer.balanceTransferStatus == BalanceTransferStatus.Canceled,
                                                'cor-Botticelli': balanceTransferOutput.balanceTransfer.balanceTransferStatus == BalanceTransferStatus.Requested
                                            }">
                                            {{balanceTransferOutput.balanceTransfer.amount / 100 | number:'1.2-2'}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <div class="text-center">
                                            <ul *ngIf="pager.totalPages?.length > 1" class="pagination">
                                                <li>
                                                    <a (click)="getBalanceTransfers(1)" [ngClass]="{disabled:pager.currentPage === 1}">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a (click)="getBalanceTransfers(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li *ngFor="let page of pager.totalPages" [ngClass]="{active:pager.currentPage === page}">
                                                    <a (click)="getBalanceTransfers(page)">{{page}}</a>
                                                </li>
                                                <li>
                                                    <a (click)="getBalanceTransfers(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage == pager.totalPages?.length}">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a (click)="getBalanceTransfers(pager.totalPages?.length)" [ngClass]="{disabled:pager.currentPage == pager.totalPages?.length}">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>    
                                        </div> 
                                    </td>
                                </tr>
                            </tfoot>
                       </table>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>

<confirmBalanceTransferModal  #confirmBalanceTransferModal (modalSave)="requestBalanceModalReturn()"></confirmBalanceTransferModal>