<h3 class="cor-Cinder profile-xs m-t-20px">Recebidos</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-clean">
            <div class="panel-body p-xss">
                    <div class="row">
                            <div class="col-xs-12 m-b-10px">
                                <div class="well well-lg bg-White">
                                    Nenhum dado disponível no momento.
                                </div>
                            </div>
                        </div>
                 <!-- <div class="row m-b-20px">
                    <div class="col-xs-12 col-sm-offset-5 col-sm-5 text-right payment-date-picker m-b-10px">
                        <date-range-picker [(startDate)]="filtroDataRecebidos.start" 
                                           [(endDate)]="filtroDataRecebidos.end"
                                           [dateRangePickerOptions]="{'opens': 'left'}"
                                           (applyClick)="getPaymentsByTargetUserId(1)">
                        </date-range-picker>
                    </div>
                    <div class="col-xs-12 col-sm-2 payment-date-picker m-b-10px">
                        <button (click)="getPaymentsByTargetUserId(1)" class="btn btn-prime btn-block">
                            <i class="fa fa-filter"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="worbbyTasksSales.length > 0" class="row">
                   <div class="col-xs-12">
                       <table class="table table-hover table-payment">
                            <thead>
                                <tr>
                                    <th>TOTAL</th>
                                    <th>
                                        R$ <span>{{totalPaymentsReceived / 100 | number:'1.2-2'}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let worbbyTaskSale of worbbyTasksSales">
                                    <td>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-2">
                                                <img alt="Photo Profile" src="assets/metronic/worbby/global/img/icon-diy.svg" />
                                            </div>
                                            <div class="col-xs-12 col-sm-10">
                                                <h6 class="no-m-t m-b-xxxs cor-Cinder"><strong>{{worbbyTaskSale.worbbyTask.title}}</strong></h6>
                                                <p class="small m-b-xxxs">{{worbbyTaskSale.worbbyTask.worbbient.name}} {{worbbyTaskSale.worbbyTask.worbbient.surname}} - {{worbbyTaskSale.sale.capturedAmountDate | amDateFormat:'DD/MM/YYYY'}}</p>
                                            </div>
                                        </div>                                        
                                    </td>
                                    <td>
                                        <span>R$ {{worbbyTaskSale.worbbyTask.totalPrice | number:'1.2-2'}}</span><br />
                                        <span *ngIf="worbbyTaskSale.cancellationTaxAmount > 0" class="cor-Flamingo cancellation-tax-amount">-{{worbbyTaskSale.cancellationTax}}% | R$ {{worbbyTaskSale.cancellationTaxAmount / 100 | number:'1.2-2'}}<br /></span>
                                        <span class="cor-Flamingo">-{{worbbyTaskSale.worbbyTask.worbbyTax}}% | R$ {{worbbyTaskSale.worbbyTaxAmount / 100 | number:'1.2-2'}}</span><br />
                                        <span class="cor-Botticelli">Disponível em {{worbbyTaskSale.balanceAvailableDate | amDateFormat:'DD/MM/YYYY'}} | </span><span class="cor-CaribbeanGreen">R$ {{worbbyTaskSale.balanceAvailable / 100 | number:'1.2-2'}}</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <div class="text-center">
                                            <ul *ngIf="pager.totalPages?.length > 1" class="pagination">
                                                <li>
                                                    <a (click)="getPaymentsByTargetUserId(1)" [ngClass]="{disabled:pager.currentPage === 1}">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a (click)="getPaymentsByTargetUserId(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li *ngFor="let page of pager.totalPages" [ngClass]="{active:pager.currentPage === page}">
                                                    <a (click)="getPaymentsByTargetUserId(page)">{{page}}</a>
                                                </li>
                                                <li>
                                                    <a (click)="getPaymentsByTargetUserId(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage == pager.totalPages?.length}">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a (click)="getPaymentsByTargetUserId(pager.totalPages?.length)" [ngClass]="{disabled:pager.currentPage == pager.totalPages?.length}">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>    
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                       </table>
                   </div>
                </div> 
                <div *ngIf="notFound"  class="row">
                    <div class="col-xs-12 m-b-10px">
                        <div class="well well-lg bg-White">
                            Nenhum dado disponível para o período selecionado.
                        </div>
                    </div>
                </div>  -->
            </div>
        </div>
    </div>
</div>