<div [@routerTransition]>
    <div class="container-fluid bg-Solititude bg-fluid-hidden">
        <div class="row">
            <div class="container">
                <div class="row my-worbby-content m-b-lg">
                    <!-- menu perfil : inicio -->
                    <div class="col-xs-12 col-sm-4 col-sm-push-8 bg-White bg-fluid menuProfile">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="sidebar-header profile-sidebar-header m-t-sm p-b-sm">
                                    <a class="visible-xs icon-menu-profile" role="button" href="#" id="chat" *ngIf="false">
                                        <!-- Icone do chat : inicio -->
                                        <svg width="26px" height="20px" viewBox="0 0 26 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                                            <title>icon chat</title>
                                            <desc>Chat icon</desc>
                                            <defs>
                                                <path d="M0,2.00585866 C0,0.898053512 0.894978851,0 1.99700466,0 L24.0029953,0 C25.1059106,0 26,0.897060126 26,2.00585866 L26,11.9941413 C26,13.1019465 25.1064574,14 23.9972399,14 L13,14 L6,20 L6,14 L1.99791312,14 C0.894496173,14 0,13.1029399 0,11.9941413 L0,2.00585866 Z"
                                                    id="path-1"></path>
                                                <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="26" height="20" fill="white">
                                                    <use xlink:href="#path-1"></use>
                                                </mask>
                                            </defs>
                                            <g id="Edit-profile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="Edit-Profile-5" transform="translate(-20.000000, -100.000000)">
                                                    <g id="icon-chat-blue" transform="translate(20.000000, 100.000000)">
                                                        <g>
                                                            <use id="Rectangle" stroke="#1498CC" mask="url(#mask-2)" stroke-width="2" fill="#FFFFFF" xlink:href="#path-1"></use>
                                                            <circle id="Oval-3" fill="#1498CC" cx="8" cy="7" r="1"></circle>
                                                            <circle id="Oval-3" fill="#1498CC" cx="13" cy="7" r="1"></circle>
                                                            <circle id="Oval-3" fill="#1498CC" cx="18" cy="7" r="1"></circle>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                        <!-- Icone do chat : Fim -->
                                    </a>
                                    <a class="visible-xs icon-menu-profile" role="button" data-toggle="collapse" href="#menuProfileLinks" aria-expanded="false"
                                        aria-controls="menuProfileLinks">
                                        <img class="" src="/assets/metronic/worbby/global/img/Yellow.png" alt="icon menu profile" />
                                    </a>
                                    <div class="display-table">
                                        <div class="divProfile">
                                            <img *ngIf="active" id="HeaderProfilePicture" alt="Photo Profile" class="img-responsive img-circle img-profile pro" [src]="profilePicture" />
                                            <span *ngIf="worbbiorPremium" class="profile-pro"></span>
                                        </div>
                                        <div class="display-cell alignTop">
                                            <h4 *ngIf="active" class="no-m-y">{{user.name}}</h4>
                                            <p *ngIf="active" class="no-m-y cor-Botticelli small m-b-xxxs">
                                                <span *ngIf="defaultAddress.subLocality">{{defaultAddress.subLocality}} ,</span> {{defaultAddress.administrativeArea}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menuProfileLinks" class="col-xs-12 collapse navbar-collapse">
                                <ul class="nav m-t-sm m-b-sm menu-lateral-with-icons">
                                    <ng-template ngFor let-menuItem [ngForOf]="menu.items" let-mainMenuItemIndex="index">
                                        <li *ngIf="showMenuItem(menuItem)" routerLinkActive="active" [ngClass]="{'start': mainMenuItemIndex == 0}">
                                            <a [routerLink]="[menuItem.route]" *ngIf="!menuItem.items.length">
                                                {{l(menuItem.name)}}
                                            </a>
                                        </li>
                                    </ng-template>
                                    <li *ngIf="switchRole && currentRoleName == 'Worbbior'">
                                        <a href="javascript:;" (click)="switchToWorbbientProfile()">{{l("SwitchToWorbbientProfile")}}</a>
                                    </li>
                                    <li *ngIf="switchRole && currentRoleName == 'Worbbient'">
                                        <a href="javascript:;" (click)="switchToWorbbiorProfile()">{{l("SwitchToWorbbiorProfile")}}</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" (click)="logout()">
                                            <i class="icon-logout close-nav icone"></i> 
                                            {{l("Logout")}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- menu perfil : Fim -->
                    <div class="col-xs-12 col-sm-8 col-sm-pull-4 m-t-sm no-m-t-xs" *ngIf="active">
                        <h3 class="m-t-sm m-b-xss">Histórico de Tarefas</h3>
                        <div class="row" *ngIf="worbbyTasks.length > 0 && carregado">
                            <div *ngFor="let worbbyTask of worbbyTasks">
                                <div class="card-talents w-100">
                                    <div class="col-xs-12">
                                        <!-- card -->
                                        <div class="card-simple m-b-xss">
                                            <div class="row">
                                                <div class="col-xs-3 col-md-2 no-p-r-xs">
                                                    <div class="divProfile">
                                                        <!--<span class="profile-online"></span>-->
                                                        <img *ngIf="active" alt="Photo Profile" class="img-responsive img-circle img-profile pro" [src]="worbbyTask.worbbior ? worbbyTask.worbbior.userPicture : worbbyTask.interestCenter.parentPicture" />
                                                        <span *ngIf="worbbyTask.worbbior?.premium" class="profile-pro"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-9 col-md-10 card-simple-info">
                                                    <p class="no-m-y">"{{worbbyTask.title}}"</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-9 col-md-10 col-divider-top p-t-xxs m-t-xxs">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-6 no-p-r" *ngIf="worbbyTask.worbbior">
                                                                    <p class="small profileName cor-Botticelli">{{worbbyTask.worbbior.displayName}}</p>
                                                                </div>
                                                                <div class="col-xs-12 col-md-6 no-p-r">
                                                                    <p class="small cor-Botticelli">{{status}}</p>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 text-right">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-6 no-p-l">
                                                                    <p class="small profileName cor-Botticelli" *ngIf="status != 'Cancelado' && worbbyTask.deliveredDate != null">
                                                                        {{worbbyTask.deliveredDate.format("L")}}
                                                                    </p>
                                                                    <p class="small profileName cor-Botticelli" *ngIf="status == 'Cancelado' && worbbyTask.canceledDate != null">
                                                                        {{worbbyTask.canceledDate.format("L")}}
                                                                    </p>
                                                                </div>
                                                                <div class="col-xs-12 col-md-6 no-p-l">
                                                                    <p class="small cor-Botticelli"> R$ <span class="cor-Denim">{{worbbyTask.totalPrice}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card : fim -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="well well-lg" *ngIf="worbbyTasks.length == 0 && carregado">
                            Não foi encontrado nenhum resultado para esta pesquisa
                        </div>
                        <div class="well text-center" *ngIf="!carregado">
                            <img src="assets/metronic/worbby/global/img/loading2.gif" width="50px" />
                            Carregando
                        </div>
                        <div class="text-center">
                            <ul *ngIf="pager.totalPages?.length > 1" class="pagination">
                                <li>
                                    <a (click)="gethistoryTask(1)" [ngClass]="{disabled:pager.currentPage === 1}">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="gethistoryTask(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li *ngFor="let page of pager.totalPages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="gethistoryTask(page)">{{page}}</a>
                                </li>
                                <li>
                                    <a (click)="gethistoryTask(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage == pager.totalPages?.length}">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="gethistoryTask(pager.totalPages?.length)" [ngClass]="{disabled:pager.currentPage == pager.totalPages?.length}">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>    
                       </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>