<div [@routerTransition]>
    <div class="container-fluid bg-fluid-hidden" [ngClass]="{'bg-Sunglow': public}">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 m-t-sm m-b-sm">
                    <div *ngIf="public" class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="bg-White bg-shadow box">
                                <a class="register-ancora btn-link visible-xs" (click)="goTo('cadastrar')">Cadastre-se</a>
                                <loginComponent #loginComponent></loginComponent>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="bg-White bg-shadow box">
                                <h3 class="text-center no-m-t" id="cadastrar">Não tem cadastro ainda? Registre-se</h3>
                                <registerComponent #registerComponent></registerComponent>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!public && isOffer && active" class="card-talents row m-b-xs">
                        <div class="col-xs-12">
                            <!-- card -->
                            <div class="card-simple">
                                <div class="row">
                                    <div class="col-xs-3 col-md-2 no-p-r-xs">
                                        <div class="divProfile">
                                            <span class="profile-online"></span>
                                            <img alt="Photo Profile" class="img-responsive img-circle img-profile pro" [src]="worbbiorProfile.worbbior.userPicture" />
                                            <span *ngIf="worbbiorProfile.worbbior.premium" class="profile-pro"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-md-10 card-simple-info">
                                        <p class="no-m-y">"{{userActivity.title}}"</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-10 col-divider-top p-t-xxs m-t-xxs">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6 no-p-r">
                                                        <p class="no-m-y small profileName cor-Botticelli">{{worbbiorProfile.worbbior.displayName}}</p>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 no-p-r">
                                                        <rating [(ngModel)]="userActivity.evaluation.averageEvaluations" max="5" required="true" [readonly]="true" stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty" [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                        </rating>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6 no-p-l">
                                                        <p class="no-m-y inline small cor-Botticelli"> {{worbbiorProfile.worbbior.distance}} m <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></p>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6 no-p-l">
                                                        <p class="no-m-y small cor-Botticelli"> R$ <span class="cor-Denim">{{userActivity.price}}</span> por {{l(UnitMeasure[userActivity.unitMeasure.toString()])}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card : fim -->
                        </div>
                    </div>
                    <div *ngIf="!public" class="wizard">
                        <div class="row bs-wizard m-b-sm" style="border-bottom:0;">
                            <div class="col-xs-3 bs-wizard-step" [ngClass]="{'active' : activeStep == 1, 'complete' : stepOneValid}">
                                <div class="text-center bs-wizard-stepnum">Tarefa</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a (click)="showStep1()" class="bs-wizard-dot cursor-pointer"></a>
                            </div>
                            <div class="col-xs-3 bs-wizard-step" [ngClass]="{'disabled' : (activeStep < 2 && !stepTwoValid), 'active' : activeStep == 2, 'complete' : stepTwoValid}">
                                <div class="text-center bs-wizard-stepnum">Endereço</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a (click)="showStep2()" class="bs-wizard-dot cursor-pointer"></a>
                            </div>
                            <div class="col-xs-3 bs-wizard-step" [ngClass]="{'disabled' : (activeStep < 3 && !stepThreeValid), 'active' : activeStep == 3, 'complete' : stepThreeValid}">
                                <div class="text-center bs-wizard-stepnum">Detalhes</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a (click)="showStep3()" class="bs-wizard-dot cursor-pointer"></a>
                            </div>
                            <div class="col-xs-3 bs-wizard-step" [ngClass]="{'disabled' : (activeStep < 4 && !stepFourValid), 'active' : activeStep == 4, 'complete' : stepFourValid}">
                                <div class="text-center bs-wizard-stepnum">Confirmar</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a (click)="showStep4()" class="bs-wizard-dot cursor-pointer"></a>
                            </div>
                        </div>

                        <div class="wizard-steps wizard-container">
                            <form *ngIf="!public" #stepOneForm="ngForm" #step1 novalidate (ngSubmit)="save()" [hidden]="activeStep != 1">
                                <div class="row">
                                    <h3 class="m-b-xss col-xs-12">Sua tarefa</h3>
                                    <p class="p-x-xss m-b-20px cor-Botticelli txt-small">
                                        <i class="fa fa-asterisk"></i>
                                        <span>Campos obrigatórios.</span>
                                    </p>
                                    <div class="col-xs-12">
                                        <div class="form-group no-hint m-b-xs">
                                            <label class="control-label">Título da tarefa <span class="small">(Máximo de 120 caracteres)</span> <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                            <input placeholder="Ex: Cupcakes decorados" 
                                                   [ngClass]="{'borda-Flamingo cor-Flamingo': titulo.value.length >120}" 
                                                   class="form-control m-b-xxxs" 
                                                   type="text" 
                                                   name="Title" 
                                                   [(ngModel)]="worbbyTask.title" 
                                                   required 
                                                   #titulo />
                                            <p class="small">{{titulo.value.length}} / 120 caracteres usados.</p> 
                                        </div>
                                        <div [hidden]="titulo.value.length <= 120" class="form-group m-y-10px">
                                            <span class="cor-Flamingo">O máximo permitidos é de 120 caracteres.</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group no-hint">
                                            <label class="control-label">Descrição da tarefa <small>(Máximo de 400 caracteres)</small> <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                            <textarea placeholder="Descrição curta do que você precisa." 
                                                rows="6" 
                                                class="form-control m-b-xxxs" 
                                                name="Description" 
                                                [(ngModel)]="worbbyTask.description"
                                                required #description
                                                [ngClass]="{'borda-Flamingo cor-Flamingo': description.value.length > 400}">
                                            </textarea>
                                            <p class="small">{{description.value.length}} / 400 caracteres usados.</p> 
                                        </div>
                                        <div [hidden]="description.value.length <= 400" class="form-group m-y-10px">
                                            <span class="cor-Flamingo">O máximo permitidos é de 400 caracteres.</span>
                                        </div>
                                        <div [hidden]="description.value.length <= 400" class="form-group m-y-10px">
                                            <span class="cor-Flamingo">O máximo permitidos é de 400 caracteres.</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 m-t-xs">
                                        <button [disabled]="!stepOneForm.form.valid || description.value.length > 400 || titulo.value.length > 60" (click)="showStep2()" type="button" class="btn btn-prime btn-around btn-block">Próximo</button>
                                    </div>
                                </div>
                            </form>
                            <form #stepTwoForm="ngForm" novalidate (ngSubmit)="save()" [hidden]="activeStep != 2" #step2>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="m-b-xss">Endereço</h3>                                        
                                        <p class="small">Onde a tarefa será realizada ou entregue?</p>
                                        <p class="small cor-Botticelli">Para a sua segurança, seu endereço completo só será visível pelo talento contratado para a tarefa.</p>
                                        <p class="cor-Botticelli txt-small m-b-xss">
                                            <i class="fa fa-asterisk"></i>
                                            <span>Campos obrigatórios para a ativação do cadastro.</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group no-hint m-b-xs">
                                            <label class="control-label">{{l("ChooseAdministrativeArea")}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-prime-inverted dropdown-toggle select-dropdown-toggle txt-small-only-mobile" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                    {{currentAdministrativeArea.text}}
                                                    <i class="fa fa-angle-down pull-right p-y-xxxs"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li *ngFor="let item of administrativeAreas.items">
                                                        <a href="javascript:;" (click)="changeAdministativeArea(item)">
                                                            {{item.text}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group no-hint m-b-xs">
                                            <label class="control-label">{{l("Address")}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                            <input 
                                            class="form-control" 
                                            type="text" 
                                            name="Thoroughfare" 
                                            [(ngModel)]="address.thoroughfare" 
                                            #Address="ngModel"
                                            [minlength]="3" 
                                            [maxlength]="120"
                                            required />
                                        </div>
                                        <div [hidden]="stepTwoForm.form.valid || stepTwoForm.form.pristine" class="form-group m-b-xs">
                                            <ul class="help-block text-danger" *ngIf="Address.errors">
                                                <li [hidden]="!Address.errors.minlength">O endereço tem que ter no mínimo 3 caracteres</li>
                                                <li [hidden]="!Address.errors.maxlength">O endereço não pode passar o limite máximo de 120 caracteres</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="form-group no-hint m-b-xs">
                                            <label class="control-label">{{l("ThoroughfareNumber")}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                            <input class="form-control" type="number" #ThoroughfareNumber="ngModel" name="ThoroughfareNumber" [(ngModel)]="address.thoroughfareNumber" required />
                                        </div>
                                        <div [hidden]="stepTwoForm.form.valid || stepTwoForm.form.pristine" class="form-group m-b-xs">
                                            <ul class="help-block text-danger" *ngIf="ThoroughfareNumber.errors">
                                                <li [hidden]="!ThoroughfareNumber.errors.number">Somente números são aceitos</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <div class="form-group no-hint m-b-xs">
                                            <label class="control-label">{{l("Premise")}}</label>
                                            <input class="form-control" type="text" name="Premise" [(ngModel)]="address.premise" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group no-hint m-b-xs">
                                            <label class="control-label">{{l("SubLocality")}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                            <input class="form-control" type="text" name="SubLocality" [(ngModel)]="address.subLocality" required />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group no-hint m-b-xs">
                                            <label class="control-label">{{l("PostalCode")}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                            <input class="form-control" type="text" name="PostalCode" [textMask]="{mask: AppConsts.cepMask}" [(ngModel)]="address.postalCode" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group no-hint">
                                            <label class="control-label">{{l("Locality")}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                            <input class="form-control" type="text" name="Locality" [(ngModel)]="address.locality" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-xs">
                                    <div class="col-xs-12 col-sm-6 col-md-4 m-b-xxs">
                                        <button (click)="showStep1()" type="button" class="btn btn-secondary btn-around btn-block">Voltar</button>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 m-b-xxs">
                                        <button [disabled]="!stepTwoForm.form.valid" (click)="showStep3()" type="button" class="btn btn-prime btn-around btn-block">Próximo</button>
                                    </div>
                                </div>
                            </form>
                            <form #stepThreeForm="ngForm" novalidate (ngSubmit)="save()" [hidden]="activeStep != 3" #step3>
                                <div class="wizard-step">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h3 class="m-b-xss">Detalhes</h3>
                                            <p class="cor-Botticelli txt-small">
                                                <i class="fa fa-asterisk"></i>
                                                <span>Campos obrigatórios.</span>
                                            </p> 
                                            <p class="m-b-xss m-t-xs">
                                                <span *ngIf="!isOffer">
                                                    Escolha o centro de interesse e subcategoria onde se encaixa a tarefa.
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div *ngIf="!isOffer" class="form-group no-hint">                                          
                                            <div class="ic-top-dropdown">
                                                <div *ngIf="showInterestCentersTopLevel" class="ic-top-dropdown-background"></div>
                                                <div *ngIf="interestCentersTopLevel.length" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ic-top-dropdown-select">
                                                    <div class="form-group no-hint">
                                                        <label class="control-label">{{l("ChooseMainInterest")}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                                        <div class="dropdown">
                                                            <button type="button" class="dropdown-toggle btn btn-prime-inverted select-dropdown-toggle">
                                                                <div (click)="selectInterestCenterTopLevel()">
                                                                    <img *ngIf="currentInterestCenterTopLevel.interestCenterPicture" class="ico-btn-dropdown" [src]="currentInterestCenterTopLevel.interestCenterPicture"
                                                                        alt="{{currentInterestCenterTopLevel.displayName}}" />
                                                                        {{currentInterestCenterTopLevel.displayName}}
                                                                    <i *ngIf="!currentInterestCenterTopLevel.id" class="fa fa-angle-down pull-right p-y-xxxs"></i>
                                                                </div>                                                            
                                                                <div *ngIf="currentInterestCenterTopLevel.id">
                                                                    <button type="button" class="close close-dropdown" (click)="clearSelectedInterestCenter()" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="showInterestCentersTopLevel" class="dropdown-interest-center col-xs-12">
                                                    <div class="row">                                                        
                                                        <div class="col-xs-12 col-sm-3" *ngFor="let interestCenterTopLevel of interestCentersTopLevel">
                                                            <a (click)="changeInterestCenterTopLevel(interestCenterTopLevel)" class="card-shadow card-talent hovereffect">
                                                                <img *ngIf="interestCenterTopLevel.interestCenterPicture != ''" class="ico-btn" [src]="interestCenterTopLevel.interestCenterPicture" alt="{{interestCenterTopLevel.displayName}}" />
                                                                <h5>{{interestCenterTopLevel.displayName}}</h5>
                                                                <div class="overlay">
                                                                    <p>{{interestCenterTopLevel.description}}</p>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>                                        
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group no-hint">                                                    
                                                    <label class="control-label" [ngClass]="{'cor-Botticelli': !interestCentersChidren.length}">{{l("Subcategory")}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-prime-inverted dropdown-toggle select-dropdown-toggle" [disabled]="!interestCentersChidren.length" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                            {{currentInterestCenterChild.displayName}}
                                                            <i class="fa fa-angle-down pull-right p-y-xxxs"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" *ngIf="interestCentersChidren.length">
                                                            <li>
                                                                <a href="javascript:;" (click)="changeInterestCenterChildren()">
                                                                    {{l('Select')}}
                                                                </a>
                                                            </li>
                                                            <li *ngFor="let interestCenterChild of interestCentersChidren">
                                                                <a href="javascript:;" (click)="changeInterestCenterChildren(interestCenterChild)">
                                                                    {{interestCenterChild.displayName}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" [(ngModel)]="worbbyTask.interestCenterId" name="InterestCenterId" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" *ngIf="isOffer">
                                            <div class="form-group no-hint">
                                                <label class="control-label">{{l("ChooseMainInterest")}} - {{l("Subcategory")}}</label>
                                                <div *ngFor="let interestCenter of userActivity.listInterestCenter.items  | groupBy:'parentDisplayName'">
                                                    <img alt="" class="img-circle img-icon-list" [src]="interestCenter.value[0].parentPicture" /> {{interestCenter.value[0].parentDisplayName}} -
                                                    <div class="p-y-xxs display-inline-block">
                                                        <span *ngFor="let interestCenterChild of interestCenter.value; let i = index" [attr.data-index]="i">
                                                            <span *ngIf="i != 0"> / </span>{{interestCenterChild.displayName}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-b-xxs">
                                        <div class="col-xs-12">
                                            <p class="m-b-xss m-t-xs">
                                                <span *ngIf="public">Selecione em qual centro de interesse a sua tarefa mais se encaixa. Em seguida, escolha a subcategoria, </span>
                                                <span *ngIf="!public">Escolha </span>
                                                a data e o horário em que necessita que a tarefa seja realizada ou entregue.
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-md-6">                                            
                                            <div class="form-group no-hint">                                    
                                                <div class="col-xs-12 no-pad-x">
                                                    <label class="control-label">Data <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                                    <button type="button" class="btn btn-block btn-secondary btn-check" [ngClass]="{'active' : worbbyTask.scheduleDateType == 1}" (click)="scheduleDateWhenPossibleChange()">Quando possível</button>
                                                </div>
                                                <div class="col-xs-12 text-center">
                                                    <div class="divOu">- ou -</div>
                                                </div>
                                                <div class="col-xs-12 no-pad-x">
                                                    <button type="button" class="btn btn-block btn-secondary btn-check btn-calendar no-m-t-xs" [ngClass]="{'active' : worbbyTask.scheduleDateType == 2}" (click)="scheduleDateFixeChange()">
                                                        <i class="fa fa-calendar-o"></i>
                                                        {{scheduleDateDisplay}}
                                                    </button>
                                                    <datepicker [showWeeks]="false" class="datepicker-custom" *ngIf="worbbyTask.scheduleDateType == 2 && showDataPicker" name="ScheduleDate" [(ngModel)]="worbbyTask.scheduledDate" (selectionDone)="scheduleDateDone($event)"></datepicker>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group no-hint">
                                                <label class="control-label">Horário <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                                <div class="dropdown">
                                                    <button type="button" class="dropdown-toggle btn btn-prime-inverted select-dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        {{currentTime}}
                                                        <i class="fa fa-angle-down pull-right p-y-xxxs"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="javascript:;" (click)="changeTime('Qualquer horário')">Qualquer horário</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" (click)="changeTime('Manhã (08:00-12:00)')">Manhã (08:00-12:00)</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" (click)="changeTime('Tarde (12:00-18:00)')">Tarde (12:00-18:00)</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" (click)="changeTime('Noite (após as 18:00)')">Noite (após as 18:00)</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" (click)="changeTime('O dia todo')">O dia todo</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>                                    

                                    <h3 class="m-b-xss m-t-sm">Qual é o seu orçamento?</h3>

                                    <div *ngIf="!isOffer" class="form-group no-hint m-b-xs">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-5">
                                                <button type="button" name="IsUnitPrice" class="btn btn-block btn-secondary btn-check" [(ngModel)]="isUnitPrice" (ngModelChange)="changeIsUnitPrice($event)" btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0">Preço unidade / Hora</button>
                                            </div>
                                            <div class="col-xs-12 col-md-2">
                                                <div class="divOu">- ou -</div>
                                            </div>
                                            <div class="col-xs-12 col-md-5">
                                                <button type="button" name="IsUnitPrice" class="btn btn-block btn-secondary btn-check" [(ngModel)]="isUnitPrice" (ngModelChange)="changeIsUnitPrice($event)" btnCheckbox btnCheckboxTrue="0" btnCheckboxFalse="1">Preço total</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">                                            
                                        <div *ngIf="worbbyTask.isUnitPrice" class="col-xs-12 col-md-4">
                                            <div class="form-group no-hint m-b-xs">
                                                <label class="control-label">Por <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                                <div class="dropdown">
                                                    <button [disabled]="isOffer" type="button" class="dropdown-toggle btn btn-prime-inverted select-dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        {{l(currentUnitMeasureOptions)}}
                                                        <i class="fa fa-angle-down pull-right p-y-xxxs"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li *ngFor="let name of unitMeasureOptions">
                                                            <a href="javascript:;" (click)="changeUnitMeasure(name)">
                                                                {{l(name)}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="worbbyTask.isUnitPrice" class="col-xs-12 col-md-4">
                                            <div class="form-group no-hint m-b-xs">
                                                <label>{{worbbyTask.unitMeasure == UnitMeasure.Hour ? "Quantas hora(s)" : "Quantas unidade(s)"}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                                <input class="form-control" type="text" name="Amount" [(ngModel)]="worbbyTask.amount" [minlength]="1" min="0" required />
                                            </div>
                                        </div>

                                        <div *ngIf="worbbyTask.isUnitPrice"  class="col-xs-12 col-md-4">
                                            <div class="form-group no-hint m-b-xs">
                                                <label>{{worbbyTask.unitMeasure == UnitMeasure.Hour ? "Preço por hora" : "Preço unitário"}} <i class="fa fa-asterisk cor-Botticelli txt-small"></i></label>
                                                <input [disabled]="isOffer" class="form-control" type="number" name="Price" [(ngModel)]="worbbyTask.unitPrice" [minlength]="1" min="0" required />
                                            </div>
                                        </div>

                                        <div *ngIf="!worbbyTask.isUnitPrice" class="col-xs-12">
                                            <div class="form-group no-hint m-b-xs">
                                                <label>Preço</label>
                                                <input class="form-control" type="number" name="Price" [(ngModel)]="worbbyTask.totalPrice" [minlength]="1" min="0" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">    
                                        <div class="col-xs-12">
                                            <div class="form-group no-hint">
                                                <label>Valor Total: R$</label>
                                                <h3 class="display-inline m-l-5px" *ngIf="!worbbyTask.isUnitPrice"> {{worbbyTask.totalPrice}}</h3>
                                                <h3 class="display-inline m-l-5px" *ngIf="worbbyTask.isUnitPrice"> {{worbbyTask.unitPrice * worbbyTask.amount}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-xs">
                                        <div class="col-xs-12 col-sm-6 col-md-4 m-b-xxs">
                                            <button (click)="showStep2()" type="button" class="btn btn-secondary btn-around btn-block">Voltar</button>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 m-b-xxs">
                                            <button [disabled]="!stepThreeForm.form.valid" (click)="showStep4()" type="button" class="btn btn-prime btn-around btn-block">Próximo</button>
                                        </div>
                                    </div>
                                </div>
                            </form>                            
                            <div [hidden]="activeStep != 4" #step4 class="wizard-step">
                                <h3 class="m-b-xss">Confirmar tarefa</h3>
                                <div class="row card-profile card-simple">
                                    <div class="profile-details">                                        
                                        <div class="col-xs-12">
                                            <h3 class="no-m-t">{{worbbyTask.title}}</h3>
                                        </div>
                                        <div class="col-xs-12 divider">
                                            <p>{{worbbyTask.description}}</p>
                                        </div>
                                        <div *ngIf="isOffer" class="col-xs-12 divider">
                                            <div class="display-table">
                                                <div class="display-cell">
                                                    <p class="small cor-Botticelli text-right">Centro de interesse</p>
                                                </div>
                                                <div class="display-cell">
                                                    <div *ngFor="let interestCenter of userActivity.listInterestCenter.items  | groupBy:'parentDisplayName'">
                                                        <img alt="" class="img-icon-list" [src]="interestCenter.value[0].parentPicture" /> {{interestCenter.value[0].parentDisplayName}} -
                                                        <div class="p-y-xxs display-inline-block">
                                                            <span *ngFor="let interestCenterChild of interestCenter.value; let i = index" [attr.data-index]="i">
                                                                <span *ngIf="i != 0"> / </span>{{interestCenterChild.displayName}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="!isOffer" class="col-xs-12 divider">
                                            <div class="display-table">
                                                <div class="display-cell">
                                                    <p class="small cor-Botticelli text-right">Centro de interesse</p>
                                                </div>
                                                <div class="display-cell">                                                    
                                                    <div class="p-y-xxxs">
                                                        <img alt="" class="img-icon-list" [src]="currentInterestCenterTopLevel.interestCenterPicture" />
                                                        {{currentInterestCenterTopLevel.displayName}} - {{currentInterestCenterChild.displayName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 divider">
                                            <div class="display-table">
                                                <div class="display-cell">
                                                    <p class="small cor-Botticelli text-right">Data</p>
                                                </div>
                                                <div class="display-cell">
                                                    <p class="inline">{{worbbyTask.scheduleDateType == ScheduleDateType.WhenPossible ? "Quando Possível" : scheduleDateDisplay}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 divider">
                                            <div class="display-table">
                                                <div class="display-cell">
                                                    <p class="small cor-Botticelli text-right">Horário</p>
                                                </div>
                                                <div class="display-cell">
                                                    <p class="inline">{{worbbyTask.time}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 divider">
                                            <div class="display-table">
                                                <div class="display-cell">
                                                    <p class="small cor-Botticelli text-right">Localização</p>
                                                </div>
                                                <div class="display-cell">
                                                    <p class="inline"><span class="cor-Botticelli">{{address.thoroughfare}}, {{address.thoroughfareNumber}} {{address.premise}}</span> - {{address.subLocality}} - {{address.locality}} - {{address.administrativeArea}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="worbbyTask.isUnitPrice" class="col-xs-12 divider">
                                            <div class="display-table">
                                                <div class="display-cell">
                                                    <p class="small cor-Botticelli text-right">{{worbbyTask.unitMeasure == UnitMeasure.Hour ? "Duração" : "Quantidade"}}</p>
                                                </div>
                                                <div class="display-cell">
                                                    <p class="inline">{{worbbyTask.amount}} {{worbbyTask.unitMeasure == UnitMeasure.Hour ? "hora(s)" : "unidade(s)"}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="worbbyTask.isUnitPrice" class="col-xs-12 divider">
                                            <div class="display-table">
                                                <div class="display-cell">
                                                    <p class="small cor-Botticelli text-right">{{worbbyTask.unitMeasure == UnitMeasure.Hour ? "Preço por hora" : "Preço unitário"}}</p>
                                                </div>
                                                <div class="display-cell">
                                                    <p class="inline">{{worbbyTask.unitPrice}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 divider">
                                            <div class="display-table">
                                                <div class="display-cell">
                                                    <p class="small cor-Botticelli text-right">Valor total:</p>
                                                </div>
                                                <div class="display-cell">
                                                    <p class="inline">R$ <span class="cor-Denim">{{worbbyTask.totalPrice}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-sm"> 
                                    <div class="col-xs-12 col-sm-6 col-md-4 m-b-xxs">
                                        <button (click)="showStep3()" type="button" class="btn btn-secondary btn-around btn-block">Voltar</button>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 m-b-xxs">
                                        <button [disabled]="!stepTwoForm.form.valid || saving" (click)="save()" type="button" class="btn btn-prime btn-around btn-block" [buttonBusy]="saving" [busyText]="l('SendWithThreeDot')"><span>Postar tarefa</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>