<div [@routerTransition]>

    <!-- Insure : Inicio -->
    <section class="container-fluid security-home">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 m-t-lg">
                        <h2 class="cor-Cinder">Seguro Worbby</h2>
                    </div>
                    <!-- Destaques : inicio -->
                    <div class="col-xs-12 m-t-md m-b-lg">
                        <div class="row">
                            <!-- item destaque : inicio -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="destaque col-item">
                                    <img src="/assets/metronic/worbby/global/img/icon-insurance-open.svg" style="width: 75px;" alt="Proteção" />
                                    <h4>Proteção</h4>
                                    <p>
                                        As tarefas estão cobertas por um seguro contra danos a terceiros em até R$ 100 mil, com algumas exceções. 
                                        É proteção tanto para o worbbior (talento) quanto para o worbbient (cliente).                                         
                                    </p>
                                </div>
                            </div>
                            <!-- item destaque : Fim -->
                            <!-- item destaque : inicio -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="destaque col-item">
                                    <img src="/assets/metronic/worbby/global/img/icon-number-one.svg" style="width: 75px;" alt="Seguro nº 1 do mundo" />
                                    <h4>Seguro nº 1 do mundo</h4>
                                    <p>
                                        O seguro Worbby é fornecido pela empresa AXA, um dos maiores grupos seguradores do mundo, presente em 64 países. 
                                        O grupo possui a marca de seguros mais valiosa do mundo, segundo o ranking da consultoria global Interbrands.  
                                    </p>
                                </div>
                            </div>
                            <!-- item destaque : Fim -->
                        </div>
                    </div>
                    <!-- Destaques : Fim -->
                </div>
            </div>
        </div>
    </section>
    <!-- Insure : Fim -->
    <!-- Cover : Inicio -->
    <section class="container-fluid bg-Solititude">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 m-t-sm">
                        <h2 class="cor-Tangerine">Cobertura Seguro Worbby</h2>
                    </div>
                </div>
                <div class="row bg-White bg-shadow m-y-xs p-x-xss p-y-sm">
                    <div class="col-xs-12 col-sm-3 text-center">
                        <img class="m-b-xs" src="/assets/metronic/worbby/global/img/icon-insurance-open-without.svg" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <h3 class="cor-Tangerine no-m-t m-b-20px">O que é coberto?</h3>
                        <p class="small">
                            O seguro Worbby cobre despesas decorrentes de reparação de danos materiais e/ou corporais causados a terceiros, e/ou nas ações 
                            emergenciais empreendidas para tentar evitá-los e/ou atenuá-los. São danos ocorridos por vontade alheia a do worbbior (talento), 
                            de forma inesperada, que geram danos ao worbbient (cliente). 
                        </p>
                        <p class="small">
                            O seguro também cobre danos morais desde que eles sejam decorrentes de algum acontecimento inesperado durante a realização da tarefa. 
                            Exemplo: O worbbient contratou a tarefa corte de cabelo em domicílio. Enquanto o worbbior usava o secador de cabelo, houve um problema 
                            na energia elétrica da casa, gerando um curto circuito no aparelho, que queimou. Uma fagulha atingiu o rosto do worbbient, criando 
                            uma pequena marca. Nesse caso, é possível haver dano estético e moral. 
                            <span [hidden]="true">Veja os conceitos de danos nos <a href="#" class="btn-link no-m-t">termos e condições do seguro</a>.</span> 
                        </p>
                        <p class="small">Os riscos cobertos são:</p>
                        <ul>
                            <li>incêndio e/ou explosão, quando provocados pelo worbbior, durante o exercício de suas atividades;</li>
                            <li>queda, lançamento ou deslocamento de quaisquer objetos;</li>
                            <li>acidentes causados por ações necessárias às atividades do worbbior, mesmo que realizadas apenas eventualmente;</li>
                            <li>acidentes causados por defeito de funcionamento ou erro humano na operação de máquinas, veículos, aparelhos, equipamentos e instalações utilizados pelo worbbior, ainda que não lhe pertencentes;</li>
                            <li>atos de vandalismo, praticados por worbbiors;</li>
                            <li>acidentes causados por veículos terrestres de propriedade do worbbior ou por ele alugados, arrendados ou administrados;</li>
                            <li>acidentes causados por bens tangíveis pertencentes a terceiros, movimentados, deslocados e/ou desmontados pelo worbbior.</li>
                        </ul>
                        <p class="small">Consulte as <a href="/assets/metronic/worbby/global/file/Atividades_cobertas_pelo_seguro.pdf" target="_blank" class="btn-link no-m-t">tarefas/atividades cobertas</a>.</p>
                    </div>
                </div>
                <div class="row bg-White bg-shadow m-y-xs p-x-xss p-y-sm">  
                    <div class="col-xs-12 col-sm-3 text-center">
                        <img class="m-b-xs" src="/assets/metronic/worbby/global/img/icon-insurance-closed.svg" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <h3 class="cor-Tangerine no-m-t m-b-20px">O que não é coberto?</h3>
                        <p class="small">
                            O seguro Wobby não cobre falhas profissionais e má prestação de serviço.
                        </p>
                        <p class="small">
                            Algumas tarefas/atividades não são cobertas, como por exemplo, as relacionadas a esporte e a cuidados de animais.
                        </p>
                        <p class="small">
                            Advogados, arquitetos, auditores, contadores, corretores de seguros, dentistas, diretores e administradores de empresas, enfermeiros, 
                            engenheiros, farmacêuticos, fisioterapeutas, médicos, notários e profissionais de cartórios, veterinários e outros profissionais 
                            com características similares não estão cobertos pelo seguro, o que não os impede de executar atividades que são asseguradas.
                        </p>
                        <p class="small">Veja a lista das <a href="/assets/metronic/worbby/global/file/Atividades_cobertas_pelo_seguro.pdf" class="btn-link no-m-t">tarefas/atividades cobertas</a><span [hidden]="true"> e a lista dos <a href="#" class="btn-link no-m-t">riscos excluídos</a></span>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                        <a href="/assets/metronic/worbby/global/file/Atividades_cobertas_pelo_seguro.pdf" target="blank" class="btn btn-prime btn-around btn-block m-b-xs white-space txt-small-only-mobile">Lista das atividades cobertas</a>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0 text-center">
                        <img src="/assets/metronic/worbby/global/img/Axa.jpg" class="w-30 m-b-xs" alt="AXA Seguros" />
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                        <a href="/assets/metronic/worbby/global/file/Apolice-publica.pdf" class="btn btn-prime btn-around btn-block m-b-xs white-space txt-small-only-mobile">Cláusula do seguro</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cover : Fim -->
 
    <!-- FAQ : Inicio -->
    <section class="container-fluid bg-White">
        <div class="row">
            <div class="container">
                <div class="row bg-shadow m-t-20px m-b-sm p-xss">
                    <div class="col-xs-12">
                        <h2 class="cor-Tangerine m-t-20px m-b-xs text-center">FAQ Seguro</h2>
                    </div>
                    <div class="col-xs-12 insure-faq"> 
                        <!-- Steps : inicio -->
                        <accordion class="card-panel">
                            <accordion-group id="question1" class="position-arrow-right-faq" #group1>
                                <div accordion-heading (click)="callAnalytics('O que é seguro Worbby?')">
                                    O que é seguro Worbby?
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group1?.isOpen, 'glyphicon-plus cor-Sunglow': !group1?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    O seguro Worbby é um seguro de Reponsabilidade Civil Geral, que cobre até 100 mil reais (R$ 100.000) em gastos para reparar 
                                    danos corporais ou danos materiais ocorridos durante a as atividades/ tarefas contratadas, garantindo mais segurança aos 
                                    worbbiors (talentos) e worbbients (clientes).                                    
                                </p>
                                <p class="small">
                                    Vejas as <a href="/assets/metronic/worbby/global/file/Atividades_cobertas_pelo_seguro.pdf" target="blank" class="btn-link no-m-t">atividades que são cobertas</a>.
                                </p>
                            </accordion-group>
                            <accordion-group id="question2" class="position-arrow-right-faq" #group2>
                                <div accordion-heading (click)="callAnalytics('Qual é o limite máximo de indenização por danos materiais causados por um worbbior (talento) a um worbbient (cliente)?')">
                                    Qual é o limite máximo de indenização por danos materiais causados por um worbbior (talento) a um worbbient (cliente)?
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group2?.isOpen, 'glyphicon-plus cor-Sunglow': !group2?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    O limite máximo de indenização é de 100 mil reais.                                   
                                </p>
                            </accordion-group>
                            <accordion-group id="question3" class="position-arrow-right-faq" #group3>
                                <div accordion-heading (click)="callAnalytics('Todas as tarefas ou atividades são cobertas pelo seguro Worbby?')">
                                    Todas as tarefas ou atividades são cobertas pelo seguro Worbby? 
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group3?.isOpen, 'glyphicon-plus cor-Sunglow': !group3?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    O seguro Worbby não se aplica a todas as tarefas/atividades. 
                                    Veja quais estão cobertas pelo seguro <a href="/assets/metronic/worbby/global/file/Atividades_cobertas_pelo_seguro.pdf" target="blank" class="btn-link no-m-t">aqui</a>.                                 
                                </p>
                            </accordion-group>
                            <accordion-group id="question4" class="position-arrow-right-faq" #group4>
                                <div accordion-heading (click)="callAnalytics('Quais atividades o seguro Worbby não cobre?')">
                                    Quais atividades o seguro Worbby não cobre?
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group4?.isOpen, 'glyphicon-plus cor-Sunglow': !group4?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    O seguro Worbby não cobre todas as tarefas/atividades. As atividades esportivas e aquelas relacionadas a cuidados de animais não são cobertas, por exemplo. 
                                    Veja quais atividades/tarefas são cobertas pelo seguro <a href="/assets/metronic/worbby/global/file/Atividades_cobertas_pelo_seguro.pdf" target="blank" class="btn-link no-m-t">aqui</a>.                                  
                                </p>
                            </accordion-group>
                            <accordion-group id="question5" class="position-arrow-right-faq" #group5>
                                <div accordion-heading (click)="callAnalytics('Quais são os riscos quer não são cobertos pelo seguro?')">
                                    Quais são os riscos quer não são cobertos pelo seguro?
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group5?.isOpen, 'glyphicon-plus cor-Sunglow': !group5?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    O seguro Worbby não se aplica à responsabilidade civil decorrente de atos ilícitos dolosos; de acusações de calúnia, injúria e/ou difamação; de atos de hostilidade, entre outros.                                     
                                </p>
                                <p class="small">
                                    Veja quais são os <a href="#" class="btn-link no-m-t" [ngClass]="{'disabled': true}">riscos excluídos</a> 
                                    e a lista das <a href="/assets/metronic/worbby/global/file/Atividades_cobertas_pelo_seguro.pdf" target="blank" class="btn-link no-m-t">atividades cobertas</a>.
                                </p>
                            </accordion-group>
                            <accordion-group id="question6" class="position-arrow-right-faq" #group6>
                                <div accordion-heading (click)="callAnalytics('Como o seguro Worbby funciona para os worbbiors (talentos)?')">
                                    Como o seguro Worbby funciona para os worbbiors (talentos)?
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group6?.isOpen, 'glyphicon-plus cor-Sunglow': !group6?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    Se o worbbior (talento) causa, por vontade alheia a ele, danos corporais ou danos materiais ao worbbient (cliente) enquanto realiza tarefas/atividades asseguradas, 
                                    pode acionar o seguro, enviando um relato detalhado do ocorrido. 
                                    Para enviar uma reivindicação, clique <a href="contato" class="btn-link no-m-t">aqui</a>.                                  
                                </p>
                            </accordion-group>
                            <accordion-group id="question7" class="position-arrow-right-faq" #group7>
                                <div accordion-heading (click)="callAnalytics('Como o seguro Worbby funciona para os worbbients (clientes)?')">
                                    Como o seguro Worbby funciona para os worbbients (clientes)?
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group7?.isOpen, 'glyphicon-plus cor-Sunglow': !group7?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    O worbbient (cliente) ao contratar um worbbior (talento) para realizar uma determinada tarefa/ atividade deve estar ciente de que a pessoa contratada não possui vínculo 
                                    empregatício com a Worbby, sendo o worbbior o principal responsável pelo trabalho que realiza e pelas consequências decorrentes da tarefa para o qual foi contratado por meio 
                                    da plataforma.                                 
                                </p>
                                <p class="small">
                                    Se o worbbior causar ferimentos ou danos materiais para o worbbient (cliente contratante) enquanto executa uma das atividades/tarefas asseguradas, o seguro Worbby ajudará a 
                                    cobrir os gastos para reparar os danos de acordo com 
                                    <a href="/assets/metronic/worbby/global/file/Atividades_cobertas_pelo_seguro.pdf" target="blank" class="btn-link no-m-t">os termos e condições do seguro</a>.
                                </p>
                                <p class="small">
                                    Para acionar o seguro, o usuário deve, inicialmente, enviar para a Worbby um relato com o máximo de detalhes e, quando possível, fotos e/ou vídeos que comprovem o ocorrido. 
                                    A seguradora então vai avaliar a documentação enviada para dar um parecer.
                                </p>
                            </accordion-group>
                            <accordion-group id="question8" class="position-arrow-right-faq" #group8>
                                <div accordion-heading (click)="callAnalytics('Como acionar o seguro Worbby?')">
                                    Como acionar o seguro Worbby?
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group8?.isOpen, 'glyphicon-plus cor-Sunglow': !group8?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    Worbbior e worbbient podem acionar o seguro. Quando for o worbbient, o nome do worbbior deve ser informado junto ao relato. Todas as queixas relativas à realização de uma 
                                    tarefa devem ser apresentadas logo após a ação que deu origem à reclamação. O usuário deve relatar o ocorrido, com o máximo de detalhes e, quando possível, enviar fotos 
                                    e/ou vídeos que comprovem o fato. A seguradora então vai avaliar a documentação enviada para dar um parecer. Para enviar uma reivindicação, 
                                    clique <a href="contato" class="btn-link no-m-t">aqui</a>.                                   
                                </p>
                            </accordion-group>
                            <accordion-group id="question9" class="position-arrow-right-faq" #group9>
                                <div accordion-heading (click)="callAnalytics('O que eu devo fazer antes de notificar a Worbby sobre uma reclamação?')">
                                    O que eu devo fazer antes de notificar a Worbby sobre uma reclamação?
                                    <i class="glyphicon" [ngClass]="{'glyphicon-minus cor-White': group9?.isOpen, 'glyphicon-plus cor-Sunglow': !group9?.isOpen}"></i>
                                </div>
                                <p class="small">
                                    Deve, primeiramente, ler atentamente os termos e condições do seguro e a lista das atividades/tarefas cobertas. Se o fato ocorrido estiver previsto nesses documentos, você 
                                    pode enviar um relato do ocorrido, com o máximo de detalhes. A seguradora então vai avaliar a documentação enviada para dar um parecer. 
                                    Para enviar uma reivindicação, clique <a href="contato" class="btn-link no-m-t">aqui</a>.
                                </p>
                            </accordion-group>
                        </accordion>
                        <!-- Steps : Fim -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ : Fim -->
</div>