<div [@routerTransition]>
    <section class="HowItsWorks">
        <div class="container-fluid bg-Solititude">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                        <h1 class="cor-Tangerine m-t-lg">Como ganhar dinheiro com talento?</h1>
                        <p><strong> Passo a passo para ser um worbbior</strong></p>
                    </div>
                </div>
                <!-- Step 01 : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">
                    <div class="col-xs-5 col-xs-offset-1">
                        <img class="img-responsive alignCenter full-width img-step width-330px" src="/assets/metronic/worbby/global/img/como-funciona-worbbior-1.png" alt="Step 1"
                        />
                    </div>
                    <div class="col-xs-5">
                        <h3 class="cor-Tangerine m-t-sm no-scale">1. Indique suas habilidades</h3>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 m-b-xs">
                        <p>
                            Crie uma conta como worbbior(talento). Conte um pouco sobre você para a nossa comunidade.
                        </p>
                        <p>
                            Escolha uma ou mais atividades que você tenha habilidades para executar com excelência e quer oferecê-la(s) à nossa comunidade.
                        </p>
                        <p>
                            Personalize a forma que você vai divulgá-la(s), dando um título e descrição atraentes para ter mais resultados na plataforma.
                        </p>
                        <p>
                            Peça recomendações. Você precisa de duas recomendações em uma mesma atividade para ter seu cadastro ativado.
                        </p>
                    </div>
                </div>
                <!-- Step 01 : Fim -->
                <!-- Step 02 RIGHT : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">

                    <div class="col-xs-5  col-xs-offset-1 col-sm-10">
                        <h3 class="cor-Tangerine m-t-sm no-scale">2. Você decide</h3>
                    </div>
                    <div class="col-xs-5 col-sm-push-6">
                        <img class="img-responsive alignCenter full-width img-step-right width-330px" src="/assets/metronic/worbby/global/img/como-funciona-worbbior-2.png"
                            alt="Step 2" />
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-pull-5 m-b-xs">
                        <p>
                            Aqui você é o seu próprio patrão.
                        </p>
                        <p>
                            Indique quais dias e horários está disponível para realizar tarefas.
                        </p>
                        <p>
                            Determine o quanto quer ganhar pela(s) atividade(s) cadastrada(s). 
                        </p>
                        <p>A Worbby reserva o direito de cobrar do worbbior (talento) uma comissão de 20% ou 15% sobre qualquer transação financeira realizada por meio da plataforma em que ele seja o favorecido (tarefas contratadas e taxa de cancelamento).</p>
                    </div>
                </div>
                <!-- Step 02 RIGHT : Fim -->
                <!-- Step 03 : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">
                    <div class="col-xs-5 col-xs-offset-1">
                        <img class="img-responsive alignCenter full-width img-step width-330px" src="/assets/metronic/worbby/global/img/como-funciona-worbbior-3.png" alt="Step 3"
                        />
                    </div>
                    <div class="col-xs-5">
                        <h3 class="cor-Tangerine m-t-sm no-scale">3. Procure ou receba tarefas</h3>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 m-b-xs">
                        <p>
                            Procure uma tarefa por área de interesse ou veja todas as tarefas postadas. Você pode filtrar por localização, distância,
                            área de interesse ou preço.
                        </p>
                        <p>
                            Faça uma oferta para uma tarefa postada por um worbbient (cliente). Convença-o de que você é o worbbior mais indicado para
                            fazê-la. Você será notificado se a sua oferta for aceita.
                        </p>
                        <p>
                            Você também pode receber tarefas diretamente de um worbbient.
                        </p>
                    </div>
                </div>
                <!-- Step 03 : Fim -->
                <!-- Step 04 RIGHT : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">

                    <div class="col-xs-5  col-xs-offset-1 col-sm-10">
                        <h3 class="cor-Tangerine m-t-sm no-scale">4. Combine os detalhes</h3>
                    </div>
                    <div class="col-xs-5 col-sm-push-6">
                        <img class="img-responsive alignCenter full-width img-step-right width-330px" src="/assets/metronic/worbby/global/img/como-funciona-worbbior-4.png"
                            alt="Step 4" />
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-pull-5 m-b-xs">
                        <p>
                            O Worbby oferece um sistema de chat privado e seguro entre você e o worbbient para acertar eventuais detalhes da tarefa.
                        </p>
                        <p>
                            Assim que uma tarefa for contratada, o valor combinado será reservado no cartão de crédito do worbbient, dando segurança
                            para você, que terá assegurado o pagamento. </p>
                    </div>
                </div>
                <!-- Step 04 RIGHT : Fim -->
                <!-- Step 05 : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">
                    <div class="col-xs-5 col-xs-offset-1">
                        <img class="img-responsive alignCenter full-width img-step width-330px" src="/assets/metronic/worbby/global/img/photo-passo5.png" alt="Step 5"
                        />
                    </div>
                    <div class="col-xs-5">
                        <h3 class="cor-Tangerine m-t-sm no-scale">5. Confirme e receba</h3>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 m-b-xs">
                        <p>
                            Você e o worbbient devem confirmar a finalização da tarefa. Somente após a confirmação é que o pagamento
                            será debitado do cartão de crédito do worbbient.
                        </p>
                        <p>
                            Você receberá o dinheiro na sua conta até no máximo xx dias após a confirmação da realização da tarefa.
                        </p>
                        <p>
                            Para ver o seu saldo com os valores recebidos, acesse sua conta virtual dentro do menu superior, no canto direito da página.
                        </p>
                        <p>
                            Para transferir o saldo para a sua conta bancária, clique no botão correspondente dentro da sua conta virtual.
                        </p>
                        <p>
                            Você pode usar o seu saldo para contratar tarefas a serem feitas por outros talentos. 
                            <a href="/terms-and-conditions" class="cor-Tangerine m-t-sm no-scale">
                                Veja os termos de uso.
                            </a>
                        </p>
                    </div>
                </div>
                <!-- Step 05 : Fim -->
                <!-- Step 06 RIGHT : inicio -->
                <div class="row bg-White bg-shadow m-y-xlg">

                    <div class="col-xs-5  col-xs-offset-1 col-sm-10">
                        <h3 class="cor-Tangerine m-t-sm no-scale">6. Meu Worbby</h3>
                    </div>
                    <div class="col-xs-5 col-sm-push-6">
                        <img class="img-responsive alignCenter full-width img-step-right width-330px" src="/assets/metronic/worbby/global/img/photo-passo6.png"
                            alt="Step 6" />
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-pull-5">
                        <p>
                            A qualquer momento, você pode ter acesso às tarefas em progresso ou já realizadas, ofertas feitas ou propostas recebidas e ver a sua conta virtual. </p>
                        <p>
                            Você é notificado sempre que receber uma proposta de tarefa, tiver uma oferta aceita ou recusada ou quando tiver uma mensagem importante. </p>
                        <p>
                            <button type="button" (click)="becomeWorbbior()" class="btn btn-round bg-Sunglow cor-White m-b-lg m-t-xxs"><span>Seja um worbbior</span></button>
                        </p> 
                    </div>
                </div>
                <!-- Step 06 RIGHT : Fim -->
            </div>
        </div>
    </section>

    <!-- Ir ao Topo -->
    <button class="btn btn-anchor-para-topo visible-xs" (click)="goTo('topo')">
        <i class="fa fa-angle-double-up no-m-x"></i>
    </button>
</div>