<div class="pre-header hidden-xs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 additional-nav user-menu">
                <a class="pull-left site-logo hidden-xs hidden-lg hidden-md" routerLink="/home">
                    <img class="logo-topo" src="/assets/metronic/worbby/global/img/logo-worbbient-beta.svg" alt="Logo Worbby">
                </a>
                <ul class="list-unstyled list-inline pull-right">
                    <li *ngIf="isAuthenticated" [changePasswordModal]="changePasswordModal" user-menu class="display-block"></li>
                    <li *ngIf="!isAuthenticated">
                        <a routerLink="/login" class="btnLoginRegisterModal">Entrar | Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" (click)="showHideMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div *ngIf="isMobile" headerNotifications class="pull-right hidden-sm hidden-lg hidden-md dropdown dropdown-extended dropdown-notification dropdown-dark notification-mobile" id="header_notification_bar"></div>
                <a class="site-logo hidden-sm" routerLink="/home">
                    <img class="logo-topo" *ngIf="currentRoleName == 'Worbbient'" src="/assets/metronic/worbby/global/img/logo-worbbient-beta.svg" alt="Logo Worbby">
                    <img class="logo-topo" *ngIf="currentRoleName == 'Worbbior'" src="/assets/metronic/worbby/global/img/logo-worbbior-beta.svg" alt="Logo Worbby">
                </a>
            </div>
            <div class="navbar-collapse" [ngClass]="menuOpen">
                <div class="navbar-collapse-container">
                    <div class="visible-xs row bg-White p-x-xss p-y-12px">                        
                        <div class="col-xs-8">
                            <div class="profile-menu-mobile">
                                <a title="{{userName}}">
                                    <img *ngIf="profilePicture" class="img-circle img-profile m-r-xxs" [ngClass]="{'img-profile-blue': currentRoleName == 'Worbbient'}" [src]="profilePicture" />  
                                    <div class="div-profile">
                                        <span>{{userName}}</span>
                                        <div *ngIf="currentRoleName == 'Worbbior'">       
                                            <rating [(ngModel)]="worbbiorRate"
                                                    max="5"
                                                    required="true"
                                                    [readonly]="true"
                                                    stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                    [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                            </rating>
                                        </div>
                                    </div>
                                </a> 
                            </div>
                        </div>
                        <div class="col-xs-4 text-right"> 
                            <button type="button" class="close close-nav">
                                <img src="/assets/metronic/worbby/global/img/icon-filter-close-black.svg" alt="Close" />
                            </button>
                        </div>
                    </div>
                    <ul class="visible-xs menu-mobile">
                        <ng-template ngFor let-menuItem [ngForOf]="menu.items" let-mainMenuItemIndex="index">
                            <li *ngIf="showMenuItem(menuItem)" routerLinkActive="active" [ngClass]="{'start': mainMenuItemIndex == 0}">
                                <a *ngIf="!menuItem.items.length" (click)="showHideMenuAndRedirect(menuItem.parameter != '' ? [menuItem.route + '/' + menuItem.parameter] : [menuItem.route])">
                                    <i class="{{menuItem.icon}}"></i>
                                    <span class="title">{{l(menuItem.name)}}</span>
                                </a>
                            </li>
                        </ng-template>
                        <li>
                            <a id="UserProfileChangePasswordLink" (click)="changePassword()">
                                {{l("ChangePassword")}}            
                            </a>
                        </li>
                        <li *ngIf="switchRole && currentRoleName == 'Worbbior'">
                            <a class="close-nav" href="javascript:;" (click)="switchToWorbbientProfile()">ALTERNAR O PERFIL</a>
                        </li>
                        <li *ngIf="switchRole && currentRoleName == 'Worbbient'">
                            <a class="close-nav" href="javascript:;" (click)="switchToWorbbiorProfile()">{{l("SwitchToWorbbiorProfile")}}</a>
                        </li>
                        <li *ngIf="toWorbbiorRegister && currentRoleName == 'Worbbient'">
                            <a class="close-nav" href="javascript:;" (click)="worbbientToWorbbior()">Seja um Worbbior</a>
                        </li>
                        <li>
                            <a class="close-nav" routerLink="/find-a-talents">
                                {{l("FindATalent")}}            
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" (click)="logout()">
                                <i class="icon-logout close-nav"></i> 
                                {{l("Logout")}}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav menu-principal" [ngClass]="{'m-t-40px': isMobile}">
                        <li class="nav-item hidden-xs">
                            <a class="close-nav" routerLink="/find-a-talents">{{l("FindATalent")}}</a> 
                        </li>
                        <li class="nav-item hidden-xs">
                            <a class="close-nav" routerLink="/find-a-tasks">Tarefas postadas</a>
                        </li>
                        <li *ngIf="!isMobile" headerNotifications class="hidden-xs dropdown dropdown-extended dropdown-notification dropdown-dark notification-mobile" id="header_notification_bar"></li>
                        <li class="nav-btn" [ngClass]="{'hidden-xs': currentRoleName == 'Worbbior'}">
                            <a href="javascript:;" (click)="postWorbbyTask()" id="PostTaskMobile" class="close-nav btn btn-around cor-Cinder m-l-xss m-r-xxs p-x-xs width-sm-210px width-320px" [ngClass]="{'btn-prime': isWorbbior || (!isWorbbior && !isMobile), 'btn-prime-inverted': !isWorbbior && isMobile}" >
                                {{l("PostATask")}}
                                <small class="btn-prime-sub">{{l("AndReceiveOffersFromTalents")}}</small>
                                <img class="ico-btn visible-md visible-lg" src="/assets/metronic/worbby/global/img/icon-pen.svg" alt="Post a Task">
                            </a>
                        </li>
                        <li class="nav-btn" [ngClass]="{'visible-xs': currentRoleName == 'Worbbior', 'hidden-xs hidden-sm hidden-md hidden-lg': currentRoleName == 'Worbbient'}">
                            <a routerLink="/find-a-tasks" id="PostTaskMobile" class="close-nav btn btn-around cor-Cinder m-l-xss m-r-xxs p-x-xs width-sm-210px width-320px" [ngClass]="{'btn-prime': isWorbbior || (!isWorbbior && !isMobile), 'btn-prime-inverted': !isWorbbior && isMobile}" >
                                Tarefas postadas
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>