<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-5 logo-footer">
            <a class="site-logo" routerLink="/home">
                <img src="/assets/metronic/worbby/global/img/logo-footer-worbbient.svg" alt="Logotipo Worbby" />
            </a>            
            <div class="social-footer">
                <ul class="list-unstyled list-inline">
                    <li>
                        <a href="https://www.facebook.com/worbby" target="_blank" class="social-icon ico-facebook"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/worbby" target="_blank" class="social-icon ico-twitter"></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/100515976601729896182" target="_blank" class="social-icon ico-gplus"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/worbby.br/" target="_blank" class="social-icon ico-instagram"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCLIqqAw_vzWtu5UB5xvvNVA" target="_blank" class="social-icon ico-youtube"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/organization/15256407" target="_blank" class="social-icon ico-in"></a>
                    </li>
                </ul>
            </div>
            <p class="small cor-White m-l-xss" style="clear:both;">copyright &copy; {{anoDeCopyright}} Worbby S.A.</p>
        </div>       
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-7">
            <ul class="menu-footer list-unstyled list-inline pull-right">
                <li>
                    <a routerLink="/about-worbby">{{l("AboutWorbby")}}</a>
                </li>
                <li *ngIf="currentRoleName != 'Worbbior'">
                    <a routerLink="/how-does-it-work">{{l("HowDoesItWork")}}</a>
                </li>
                <li *ngIf="currentRoleName == 'Worbbior'">
                    <a routerLink="/how-does-it-work-w">{{l("HowDoesItWork")}}</a>
                </li>
                <li>
                    <a routerLink="/faq">{{l("Faq")}}</a>
                </li>
                <li>
                    <a routerLink="/become-a-worbbior">{{l("BecomeAWorbbior")}}</a>
                </li>                
                <li>
                    <a routerLink="/contact">{{l("Contact")}}</a>
                </li>
                <li>
                    <a routerLink="/insurance">{{l("Insurance")}}</a>
                </li>
                <li>
                    <a routerLink="/terms-and-conditions">{{l("TermsAndConditions")}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>