<div class="pre-header hidden-xs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 additional-nav user-menu">
                <a class="pull-left site-logo hidden-xs hidden-lg hidden-md" routerLink="/home">
                    <img class="logo-topo" src="/assets/metronic/worbby/global/img/logo-worbbient-beta.svg" alt="Logo Worbby">
                </a>
                <ul class="list-unstyled list-inline pull-right">
                    <li>
                        <a routerLink="/login" class="btnLoginRegisterModal">Entrar | Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" (click)="showHideMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="site-logo hidden-sm" routerLink="/home">
                    <img class="logo-topo" src="/assets/metronic/worbby/global/img/logo-worbbient-beta.svg" alt="Logo Worbby">
                </a>
            </div>
            <div class="navbar-collapse" [ngClass]="menuOpen">
                <div class="navbar-collapse-container">
                    <div class="visible-xs row bg-White p-x-xss p-y-12px">
                        <div class="col-xs-8">
                            <a routerLink="/home" (click)="showHideMenu()">
                                <img src="/assets/metronic/worbby/global/img/logo-worbbient-beta.svg" alt="Logo Worbby" class="m-y-5px" style="height: 30px;" />
                            </a>
                        </div>
                        <div class="col-xs-4 text-right">
                            <button type="button" class="close close-nav">
                                <img src="/assets/metronic/worbby/global/img/icon-filter-close-black.svg" alt="Close" />     
                            </button>
                        </div>                        
                    </div>
                    <ul class="visible-xs menu-mobile">
                        <li>
                            <a routerLink="/conta/entrar" (click)="showHideMenu()">{{l("Login")}}/{{l("SignIn")}}</a>
                        </li>                        
                        <li>
                            <a routerLink="/sobre" (click)="showHideMenu()">{{l("AboutWorbby")}}</a>
                        </li>
                        <li>
                            <a routerLink="/como-funciona" (click)="showHideMenu()">{{l("HowDoesItWork")}}</a>
                        </li> 
                        <li>
                            <a routerLink="/seja-um-worbbior" (click)="showHideMenu()">{{l("BecomeWorbbior")}}</a>
                        </li>   
                        <li>
                            <a (click)="showHideMenu()" routerLink="/find-a-talents">
                                {{l("FindATalent")}}            
                            </a>
                        </li>                    
                        <li>
                            <a routerLink="/perguntas-frequentes" (click)="showHideMenu()">FAQ</a>
                        </li>
                        <li>
                            <a routerLink="/fale-com-o-Worbby" (click)="showHideMenu()">{{l("Contact")}}</a>
                        </li>
                    </ul>                 
                    <ul class="nav navbar-nav menu-principal" [ngClass]="{'m-t-40px': isMobile}">
                        <li class="nav-item hidden-xs">
                            <a class="close-nav" routerLink="/find-a-talents">{{l("FindATalent")}}</a>
                        </li>
                        <li class="nav-item hidden-xs">
                            <a class="close-nav" routerLink="/find-a-tasks">Tarefas postadas</a>
                        </li>
                        <li class="nav-btn">
                            <a id="PostTaskMobile" class="close-nav btn btn-prime btn-around m-l-xss m-r-xxs p-x-xs width-sm-210px width-320px" [ngClass]="{'btn-prime-inverted': isMobile, 'btn-prime': !isMobile }" routerLink="/post-a-task">
                                {{l("PostATask")}}
                                <small class="btn-prime-sub">{{l("AndReceiveOffersFromTalents")}}</small>
                                <img class="ico-btn visible-md visible-lg" src="/assets/metronic/worbby/global/img/icon-pen.svg" alt="Post a Task">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>