<div [@routerTransition]>
    <div class="container-fluid bg-Solititude bg-fluid-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 m-t-sm m-b-sm">
                    <div class="wizard-steps wizard-container" *ngIf="active">
                        <div *ngIf="active" class="row m-b-sm">
                            <div class="col-xs-12 p-xxs m-t-sm m-b-sm clearfix text-center">
                                <h1 class="cor-Tangerine">Detalhe de pagamento</h1>                   
                            </div>
                            <div class="col-xs-12 m-b-sm">
                                <div *ngIf="active" class="card-talents w-100">
                                    <!-- card -->
                                    <div class="card-simple">
                                        <div class="row">
                                            <div class="w-100">
                                                <div class="col-xs-3 col-md-2 no-p-r-xs">
                                                    <div class="divProfile">
                                                        <!--<span class="profile-online"></span>-->
                                                        <img alt="Photo Profile" class="img-responsive img-circle img-profile pro" [src]="worbbyTask.worbbior.userPicture" />
                                                        <span *ngIf="worbbiorPremium" class="profile-pro"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7 col-md-7 card-simple-info">
                                                    <p class="no-m-y display-inline-block">{{worbbyTask.title}}</p>
                                                    <p class="small profileName cor-Botticelli txt-small-only-mobile txt-small-tablet">{{worbbyTask.worbbior.displayName}}</p>
                                                    <p class="small profileName cor-Botticelli txt-small-only-mobile txt-small-tablet">{{worbbyTask.description}}</p>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <p class="text-right font-regular-18-xs"><span class="cor-Botticelli txt-small">R$</span> <span class="cor-Denim">{{worbbyTask.totalPrice}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- card : fim --> 
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="button" (click)="capturePayment()" class="btn btn-around btn-block btn-prime m-b-lg m-t-xxs" [disabled]="saving">
                                    <i *ngIf="saving" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                    <span>{{saving ? "Processando" : "Liberar Pagamento"}}</span>
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>