<div [@routerTransition]>
    <div class="container-fluid bg-Solititude bg-fluid-hidden"> 
        <div class="row">
            <div class="container">
                <div *ngIf="active" class="row">
                    <div class="col-xs-12 visible-xs">
                        <div class="row">
                            <div class="col-xs-9">
                                <h3 class="titulo-WorbbiorProfile">Escolha uma oferta</h3>
                            </div>
                            <div class="col-xs-3">
                                <a routerLink="/worbbient/my-worbby" class="btn btn-secondary m-t-20px">
                                    <i class="fa fa-chevron-left"></i>
                                    <span class="hidden-xs">Voltar</span>
                                </a>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-xs-12 col-sm-4 col-sm-push-8 bg-White bg-fluid menuProfile m-b-xss">
                        <div *ngIf="active" class="card-profile">
                            <div class="profile-details">                                
                                <div class="col-xs-12 m-t-sm">
                                    <h3>{{worbbyTask.title}}</h3>
                                </div>
                                <div class="col-xs-12 divider">
                                    <p class="cor-Botticelli small">{{worbbyTask.description}}</p>
                                </div>
                                <div class="col-xs-12 divider">
                                    <div class="display-table">
                                        <div class="display-cell">
                                            <p class="small cor-Botticelli text-right">Centro de interesse</p>
                                        </div>
                                        <div class="display-cell">
                                            <img alt="" class="img-circle img-icon-list" [src]="worbbyTask.interestCenter.interestCenterPicture" />
                                            <div class="p-y-xxxs">{{worbbyTask.interestCenter.parentDisplayName}} - {{worbbyTask.interestCenter.displayName}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 divider">
                                    <div class="display-table">
                                        <div class="display-cell">
                                            <p class="small cor-Botticelli text-right">Data</p>
                                        </div>
                                        <div class="display-cell">
                                            <p class="inline">{{worbbyTask.scheduleDateType == ScheduleDateType.WhenPossible ? "Quando possível" : scheduleDateDisplay}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 divider">
                                    <div class="display-table">
                                        <div class="display-cell">
                                            <p class="small cor-Botticelli text-right">Horário</p>
                                        </div>
                                        <div class="display-cell">
                                            <p class="inline">{{worbbyTask.time}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 divider">
                                    <div class="display-table">
                                        <div class="display-cell">
                                            <p class="small cor-Botticelli text-right">Localização</p>
                                        </div>
                                        <div class="display-cell">
                                            <p class="inline">{{worbbyTask.address.subLocality}} - {{worbbyTask.address.locality}} - {{worbbyTask.address.administrativeArea}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="worbbyTask.isUnitPrice" class="col-xs-12 divider">
                                    <div class="display-table">
                                        <div class="display-cell">
                                            <p class="small cor-Botticelli text-right">{{worbbyTask.unitMeasure == UnitMeasure.Hour ? "Duração" : "Quantidade"}}</p>
                                        </div>
                                        <div class="display-cell">
                                            <p class="inline">{{worbbyTask.amount}} {{worbbyTask.unitMeasure == UnitMeasure.Hour ? "hora(s)" : "unidade(s)"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="worbbyTask.isUnitPrice" class="col-xs-12 divider">
                                    <div class="display-table">
                                        <div class="display-cell">
                                            <p class="small cor-Botticelli text-right">{{worbbyTask.unitMeasure == UnitMeasure.Hour ? "Preço por hora" : "Preço unitário"}}</p>
                                        </div>
                                        <div class="display-cell">
                                            <p class="inline"><span class="cor-Botticelli txt-small">R$</span> {{worbbyTask.unitPrice}}</p> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 divider">
                                    <div class="display-table">
                                        <div class="display-cell">
                                            <p class="small cor-Botticelli text-right">Valor total</p>
                                        </div>
                                        <div class="display-cell">
                                            <p class="inline"><span class="cor-Botticelli txt-small">R$</span> <span class="cor-Denim">{{worbbyTask.totalPrice}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>                                  
                        </div>
                    </div>
                    <div class="perfil-content col-xs-12 col-sm-8 col-sm-pull-4 m-t-sm no-m-t-xs">
                        <div class="row hidden-xs">
                            <div class="col-xs-9">
                                <h3 class="titulo-WorbbiorProfile">Escolha uma oferta</h3>
                            </div>
                            <div class="col-xs-3 text-right">
                                <a routerLink="/worbbient/my-worbby" class="btn btn-secondary m-t-xs txt-small">
                                    <i class="fa fa-chevron-left"></i>
                                    <span class="hidden-xs">Voltar</span>
                                </a>
                            </div>
                        </div>
                        <div class="row m-b-xs" *ngIf="worbbyTask.offersList.items.length == 0">
                            <div class="col-xs-12">
                                <div class="well well-lg">
                                    Nenhuma oferta foi realizada ainda
                                </div>
                            </div>                            
                        </div>
                        <div class="row m-b-xs" *ngFor="let offer of worbbyTask.offersList.items">                            
                            <div class="col-xs-12">
                                <!-- card -->
                                <div class="card-simple">
                                    <div class="row">
                                        <div class="card-talents w-100">
                                            <div class="col-xs-3 col-md-2 no-p-r-xs">
                                                <div class="divProfile">
                                                    <img alt="Photo Profile" class="img-responsive img-circle img-profile pro" [src]="offer.worbbior.userPicture"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-7 col-md-8 card-simple-info">
                                                <p class="no-m-y">{{offer.description}}</p>
                                                <p class="small cor-Botticelli">
                                                    Politica de cancelamento: <a class="btn-link" [routerLink]="['/faq']" fragment="question16">{{l(CancellationPolicy[offer.cancellationPolicy.toString()])}}</a>
                                                    <ng-template #popTemplatePoliticaCancelamento><div class="text-left" [innerHtml]="tooltipPoliticaCancelamento"></div></ng-template>
                                                    <i class="fa fa-question-circle tooltip-icone" placement="right" [tooltip]="popTemplatePoliticaCancelamento"></i>
                                                </p> 
                                            </div>
                                            <div class="col-xs-2 col-md-2 text-right"> 
                                                <worbbientWorbbyTaskActions [pageType]="'list'" [actionsType]="'options'" [worbbyOffer]="offer" (actionReturn)="actionReturn()"></worbbientWorbbyTaskActions>
                                            </div>
                                            <div class="col-xs-12 col-divider-top p-t-xxs m-t-xxs">
                                                <div class="row">
                                                    <div class="col-xs-6 col-md-3 p-y-xxxs">
                                                    <p class="no-m-b small">{{offer.worbbior.displayName}}</p>
                                                    </div>
                                                    <div class="text-right col-xs-6 col-md-3 p-y-xxxs">
                                                        <rating [(ngModel)]="offer.worbbior.averageEvaluations"
                                                            max="5"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                        </rating>
                                                    </div>
                                                    <div class="text-left col-xs-6 col-md-3 p-y-xxxs">
                                                        <p *ngIf="offer.worbbyTask.distance" class="no-m-b small">{{offer.worbbyTask.distance}} <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></p>
                                                    </div>
                                                    <div class="text-right p-y-xxxs col-xs-6 col-md-3">
                                                        <p class="no-m-b cor-Denim">{{worbbyTask.totalPrice | currency:'BRL':true:'1.2-2'}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-divider-top p-t-xxs m-t-xxs">
                                            <worbbientWorbbyTaskActions [actionsType]="'buttons'" [worbbyOffer]="offer" (actionReturn)="actionReturn()"></worbbientWorbbyTaskActions>
                                        </div>
                                        <!--<div class="col-xs-12 col-divider-top p-t-xxs m-t-xxs">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button type="button" class="btn btn-prime btn-block" (click)="acceptOffer(offer)">Aceitar Oferta</button>
                                                </div> 
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <!-- card : fim -->
                            </div>                            
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</div>
