<div *ngIf="actionsType == 'options'" class="card-actions">
    <a *ngIf="pageType == 'list'" class="btn-cog" (click)="viewWorbbyTask(worbbyTask)">
        <img src="assets/metronic/worbby/global/img/icon-chat-blue.svg" />
    </a>     
    <a href="#" class="dropdown-toggle btn-cog" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="fa fa-cog"></i>
    </a> 
    <ul class="dropdown-menu dropdown-menu-default box-user-menu box-user-menu-grey position-box config-atividades-xs">
        <li class="arrow-up"></li>
        <li *ngIf="pageType == 'list'">
            <a (click)="viewWorbbyTask()">
                Visualizar
            </a>
        </li>
        <li *ngIf="isOfferAcceptedByWorbbient">
            <a (click)="confirmOfferAccepted()">
                <i class="fa fa-check-square-o cor-CaribbeanGreen"></i>
                Confirmar                            
            </a> 
        </li>
        <li *ngIf="isWorbbyTaskProposed">
            <a (click)="acceptWorbbyTaskProposed()">
                <i class="fa fa-check-square-o cor-CaribbeanGreen"></i>
                Aceitar                            
            </a> 
        </li>
        <li *ngIf="isOfferAcceptedByWorbbient || isOfferConfirmedByWorbbior">
            <a (click)="refusedOfferAccepted()">
                <i class="fa fa-trash cor-Flamingo"></i>
                Recusar                            
            </a> 
        </li>        
        <li *ngIf="isWorbbyTaskProposed || isWorbbyTaskProposedAccepted">
            <a (click)="refusedWorbbyTaskProposed()">
                <i class="fa fa-trash cor-Flamingo"></i>
                Recusar                            
            </a> 
        </li>
        <li *ngIf="isPendingOffer">
            <a (click)="pendingOfferCancel()">
                <i class="fa fa-trash cor-Flamingo"></i>
                Cancelar                            
            </a> 
        </li>        
        <li>
            <a (click)="sendReport()">
                Reporte este worbbient
            </a>
        </li>
        <li *ngIf="isWorbbyTaskHired || isWorbbyTaskDelivered || isWorbbyTaskStart">
            <a (click)="cancelWorbbyTaskHired()">
                Cancelar
            </a>
        </li>
        <li *ngIf="isWorbbyTaskHired || isWorbbyTaskStart">
            <a (click)="worbbyTaskDelivered()">
                Confirmar a entrega da tarefa
            </a>
        </li>
    </ul>                      
</div>

<div *ngIf="actionsType == 'buttons'" class="buttons-actions">
    <div class="row">
        <div *ngIf="isOfferAcceptedByWorbbient" class="col-xs-12 col-sm-6 m-b-10px">
            <button type="button" class="btn btn-prime btn-block txt-small-only-mobile txt-small-tablet" (click)="confirmOfferAccepted()">Confirmar</button>                                                                        
        </div>
        <div *ngIf="isOfferAcceptedByWorbbient" class="col-xs-12 col-sm-6 m-b-10px">
            <button type="button" class="btn btn-secondary btn-block txt-small-only-mobile txt-small-tablet" (click)="refusedOfferAccepted()">Recusar</button>
        </div>
        <div *ngIf="isWorbbyTaskProposed" class="col-xs-12 col-sm-6 m-b-10px">
            <button type="button" class="btn btn-prime btn-block txt-small-only-mobile txt-small-tablet" (click)="acceptWorbbyTaskProposed()">Aceitar</button>                                                                        
        </div>
        <div *ngIf="isWorbbyTaskProposed" class="col-xs-12 col-sm-6 m-b-10px">
            <button type="button" class="btn btn-secondary btn-block txt-small-only-mobile txt-small-tablet" (click)="refusedWorbbyTaskProposed()">Recusar</button>
        </div>
        <div *ngIf="isWorbbyTaskHired || isWorbbyTaskStart" class="col-xs-12">
            <button type="button" (click)="worbbyTaskDelivered()" class="btn btn-prime btn-block">{{pageType == 'list' ? 'Confirmar a entrega da tarefa' : 'Confirmar entrega'}}</button>                                                                       
        </div>
    </div>
</div>

<sendReportModal #sendReportModal [inputId]="worbbyTask.worbbient.id" [inputType]="'worbbient'" [inputIdTask]="worbbyTask.id"></sendReportModal>
<worbbiorTaskScheduleDateModal #worbbiorTaskScheduleDateModal (modalSave)="modalSave()"></worbbiorTaskScheduleDateModal>

<awaiting #awaiting></awaiting>