<div [@routerTransition] class="activity-page worbbior-profile" id="topo" name="topo">
    <div *ngIf="showLoginRegister" class="container-fluid bg-Solititude bg-fluid-hidden">
        <div class="row">
            <div class="container">
                <div *ngIf="showLoginRegister" class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="bg-White bg-shadow box">
                            <a class="register-ancora btn-link visible-xs" (click)="goTo('cadastrar')">Cadastre-se</a>
                            <loginComponent #loginComponent></loginComponent>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="bg-White bg-shadow box">
                            <h3 class="text-center no-m-t" id="cadastrar">Não tem cadastro ainda? Registre-se</h3>
                            <registerComponent #registerComponent></registerComponent>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    <div *ngIf="!showLoginRegister" class="hideGallery" *ngIf="activityUser != undefined && activityUser.listGalleryActivity != undefined">   
        <ng2-image-gallery #gallery [images]="activityUser.listGalleryActivity.items"></ng2-image-gallery>  
    </div>      
    <!-- BANNER -->
    <section *ngIf="!showLoginRegister" class="container-fluid activity-center" style="height: 500px">
        <div class="activity-center-banner" *ngIf="activityUser != undefined && activityUser.featuredImage != undefined" style="height: 500px" [style.background]="'url(' + activityUser.featuredImage + ')'"></div>
        <div class="container">
            <div class="row m-t-20px" *ngIf="activityUser != undefined && activityUser.listInterestCenter.items.length > 0">
                <div class="col-xs-12 text-center">
                    <div (click)="goToInterestCenterPage(interestCenter)" class="icone-box m-t-xs m-x-xxs cursor-pointer" *ngFor="let interestCenter of activityUser.listInterestCenter.items">
                        <img [src]="interestCenter.interestCenterPicture" *ngIf="interestCenter != undefined" placement="bottom" [tooltip]="interestCenter.displayName" />                        
                        <img [src]="loading" alt="Carregando" *ngIf="interestCenter == undefined" width="80px" />
                    </div>
                    <h2 class="m-t-40px">"{{activityUser.title}}"</h2>                    
                </div>
            </div>
            <div class="btn-gallery">
                <button type="button" (click)="openGallery()" class="btn btn-prime-inverted" [disabled]="activityUser == undefined || activityUser.listGalleryActivity == undefined || activityUser.listGalleryActivity.items.length == 0">
                    <img src="assets/metronic/worbby/global/img/icon-photos.svg" />
                    <span>Ver fotos ({{ activityUser == undefined || activityUser.listGalleryActivity == undefined ? 0 : activityUser.listGalleryActivity.items.length }})</span>
                </button>                
            </div>
        </div>
    </section>

    <!-- INFO -->
    <section *ngIf="!showLoginRegister" class="info-activities">
        <div class="container-fluid bg-White bg-fluid-hidden" *ngIf="atividadeCarregado">
            <div class="row borda-bottom-1 borda-Botticelli">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-push-8 menuProfile">
                            <div class="m-t-24px m-b-xxxs">
                                <button (click)="offertTask(activityUser)" class="btn btn-around cor-Cinder btn-prime btn-block">
                                    Ofereça uma tarefa
                                </button>
                            </div>
                            <p class="small cor-Botticelli text-center m-b-xxs">
                                Politica de cancelamento: <a class="btn-link" [routerLink]="['/faq']" fragment="question16">{{l(CancellationPolicy[activityUser.cancellationPolicy.toString()])}}</a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-8 col-md-pull-4 m-t-24px no-m-t-xs">
                            <div class="col-xs-12">
                                <div class="row card-list">
                                    <div class="col-xs-6 col-sm-3 no-pad-x">
                                        <div class="card-default card-default-no-hover text-center p-y-xxs">
                                            <img alt="Icon money" class="" src="/assets/metronic/worbby/global/img/icon-money.svg" />
                                            <p class="small"> R$ {{activityUser.price}} por {{l(UnitMeasure[activityUser.unitMeasure.toString()])}}</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 no-pad-x">
                                        <div class="card-default card-default-no-hover text-center p-y-xxs">
                                            <img alt="Icon task" class="" src="/assets/metronic/worbby/global/img/icon-tasks-done.svg" />
                                            <p class="small" *ngIf="activityUser.taskPerformed <= 1">{{activityUser.taskPerformed}} tarefa realizada</p>
                                            <p class="small" *ngIf="activityUser.taskPerformed > 1">{{activityUser.taskPerformed}} tarefas realizadas</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 no-pad-x">
                                        <div class="card-default card-default-no-hover text-center p-y-xxs">
                                            <img alt="Icon Endorsements" class="" src="/assets/metronic/worbby/global/img/icon-endorsements.svg" />
                                            <p class="small">{{activityUser.endorsementsCount}} recomendações</p>
                                        </div>
                                    </div> 
                                    <div class="col-xs-6 col-sm-3 activity-comments no-pad-x">
                                        <div (click)="commentsOnClick($event)" class="card-default text-center p-y-xxs">
                                            <svg width="50px" height="24px" viewBox="0 0 50 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                                                <title>icon-reviews</title>
                                                <desc>Created with Sketch.</desc>
                                                <defs>
                                                    <path d="M16,7.99508929 C16,6.8932319 16.8970262,6 18.0049466,6 L40,6 L50,9.09494702e-13 L50,6 L50,22.0049107 C50,23.1067681 49.1080589,24 48.0000796,24 L17.9999204,24 C16.8953949,24 16,23.1073772 16,22.0049107 L16,7.99508929 Z" id="path-1"></path>
                                                    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="34" height="24" fill="white">
                                                        <use xlink:href="#path-1"></use>
                                                    </mask>
                                                </defs>
                                                <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Desktop-Needor-Worbbior-Profile" transform="translate(-735.000000, -581.000000)">
                                                        <g id="Group-15-Copy" transform="translate(175.000000, 282.000000)">
                                                            <g id="Group-14" transform="translate(510.000000, 287.000000)">
                                                                <g id="Group-7" transform="translate(10.000000, 12.000000)">
                                                                    <g id="icon-reviews-selected" transform="translate(40.000000, 0.000000)">
                                                                        <g id="icon-reviews">
                                                                            <path d="M9.36955554,15 L21.9941413,15 C21.9984353,15 22,1.99919648 22,1.99919648 C21.999286,1.99963122 2.00494659,2 2.00494659,2 C2.00082398,2 2,20.1586889 2,20.1586889 L9.36955554,15 Z M19.9970707,17 L10,17 L0,24 L3.19744231e-14,2.00010618 C3.55271368e-14,0.895478039 0.897026226,-7.10542736e-15 2.00494659,0 L21.9950534,2.52242671e-13 C23.1023548,2.66453526e-13 24,0.886886902 24,1.99810135 L24,11.4983274 L24,8 L22,8 L22,15 L18,15 L18,17 L19.9970707,17 L19.9970707,17 Z" id="Combined-Shape" fill="#FFCB33"></path>
                                                                            <use id="Rectangle-4" stroke="#FFCB33" mask="url(#mask-2)" stroke-width="4" xlink:href="#path-1"></use>
                                                                            <rect id="Rectangle-13" fill="#FFCB33" x="6" y="6" width="6" height="2"></rect>
                                                                            <rect id="Rectangle-13" fill="#FFCB33" x="22" y="16" width="22" height="2"></rect>
                                                                            <rect id="Rectangle-13" fill="#FFCB33" x="22" y="12" width="8" height="2"></rect>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <div>
                                                <p class="small">{{activityUser.evaluation.evaluations.items.length}} comentários</p>
                                            </div>
                                            <div class="arrow-nav"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center cor-Cinder bg-White" *ngIf="!atividadeCarregado">
            <img [src]="loading" width="50px" /> Carregando
        </div>
    </section>

    <!-- REVIEWS -->
    <section *ngIf="!showLoginRegister">
        <div class="container-fluid bg-WhiteLilac bg-fluid-hidden" *ngIf="worbbiorPerfilCarregado">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <!-- menu perfil : inicio -->
                        <div class="col-xs-12 col-sm-4 col-sm-push-8 bg-White bg-fluid menuProfile m-b-xss">
                            <div class="card-profile" >
                                <div class="col-xs-12">
                                    <div class="sidebar-header m-t-sm p-b-sm">
                                        <div class="display-table cursor-pointer">
                                            <div (click)="goWorbbiorPage(worbbiorProfile)" class="divProfile m-r-20px-sm">
                                                <img id="HeaderProfilePicture" alt="Photo Profile" class="img-responsive img-circle img-profile pro" [src]="worbbiorProfile.worbbior.userPicture" />
                                               <span *ngIf="worbbiorProfile.worbbior.premium" class="profile-pro"></span>
                                            </div>
                                            <div class="display-cell alignTop">
                                                <h4 (click)="goWorbbiorPage(worbbiorProfile)" class="no-m-y profileName">{{worbbiorProfile.worbbior.displayName}}</h4>
                                                <p (click)="goWorbbiorPage(worbbiorProfile)" class="no-m-y cor-Botticelli small hidden-xs">{{worbbiorProfile.address.subLocality}}, {{worbbiorProfile.address.locality}}</p>
                                                <p (click)="goWorbbiorPage(worbbiorProfile)" class="cor-Botticelli small visible-xs">{{worbbiorProfile.worbbior.description}}</p>  
                                                <div class="dropdown dropdown-user dropdown-dark">
                                                    <a class="dropdown-toggle cursor-pointer" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="{{showUserNameTitle}}">
                                                        <img src="/assets/metronic/worbby/global/img/Yellow.png" alt="icon menu profile" />
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-default box-user-menu box-user-menu-grey position-box">
                                                        <li class="arrow-up"></li>
                                                        <li class="close-nav"><a (click)="endorse()">Recomende este worbbior</a></li>
                                                        <!--<li class="close-nav"><a (click)="task()">Oferte uma tarefa<i class="icon-logout close-nav"></i></a></li>-->
                                                        <li class="close-nav"><a (click)="sendReport()">Reporte este usuário</a></li>
                                                    </ul>
                                                </div>                                                                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Profile details : inicio -->
                                <div class="profile-details">
                                    <div class="col-xs-12 hidden-xs">
                                        <p class="m-t-sm">{{l("AboutMe")}}</p>
                                        <p class="cor-Botticelli">{{worbbiorProfile.worbbior.description}}</p>
                                    </div>
                                    <div class="col-xs-12 divider">
                                        <div class="display-table">
                                            <div class="display-cell">
                                                <p class="small cor-Botticelli text-right">{{l("Location")}}</p>
                                            </div>
                                            <div class="display-cell">
                                                <p class="inline">{{worbbiorProfile.address.subLocality}}, {{worbbiorProfile.address.locality}}</p>
                                                <p *ngIf="worbbiorProfile.worbbior.distance" class="no-m-b small cor-Botticelli"> {{worbbiorProfile.worbbior.distance}} km <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 divider">
                                        <div class="display-table">
                                            <div class="display-cell">
                                                <p class="small cor-Botticelli text-right">{{l("Availabilities")}}</p>
                                            </div>
                                            <div class="display-cell" *ngIf="worbbiorProfile != undefined && worbbiorProfile.availabilities.items.length > 0">
                                                <p class="no-m-y p-y-xxs" *ngFor="let availability of worbbiorProfile.availabilities.items">
                                                    {{l(DayOfWeek[availability.dayOfWeek.toString()])}} - 
                                                    {{availability.startTime}} - 
                                                    {{availability.endTime}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 divider">
                                         <div class="display-table">
                                            <div class="display-cell">
                                                <p class="small cor-Botticelli text-right">{{l("Evaluation")}}</p>
                                            </div>
                                            <div class="display-cell">
                                                <rating [(ngModel)]="worbbiorProfile.evaluation.averageEvaluations"
                                                        max="5"
                                                        class="m-r-xxs"
                                                        required="true"
                                                        [readonly]="true"
                                                        stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                        [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                </rating>
                                                <p class="inline">{{worbbiorProfile.evaluation.evaluations.items.length}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 m-t-sm divider">
                                        <p class="cor-Botticelli m-b-20px m-t-sm">Compartilhar este perfil com seus amigos:</p>
                                        <div class="social-list">
                                            <ul class="list-unstyled list-inline">
                                                <li class="m-r-12px m-b-xxs">
                                                    <a (click)="sharedFacebook()">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-fb.svg" alt="icon Facebook" />
                                                    </a>
                                                </li>
                                                <li class="m-r-12px m-b-xxs">
                                                    <a [shareButton]="'twitter'">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-twitter.svg" alt="icon Twitter" />
                                                    </a>
                                                </li>
                                                <li class="m-r-12px m-b-xxs">
                                                    <a [shareButton]="'googleplus'">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-gplus.svg" alt="icon G+" />
                                                    </a>
                                                </li>
                                                <li class="m-r-xss m-b-xxs" *ngIf="appSession.isMobileDevice">
                                                    <a [attr.href]="whatsappLink" target="_blank">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-whatsapp5.svg" alt="icon Whatsapp" />
                                                    </a>
                                                </li>
                                                <li class="m-r-12px m-b-xxs">
                                                    <a [shareButton]="'pinterest'">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-pin.svg" alt="icon Pintrest" />
                                                    </a>
                                                </li>
                                                <li class="m-b-xxs">
                                                    <a [shareButton]="'linkedIn'">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-in.svg" alt="icon LinkedIn" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <!-- Profile details : Fim -->
                            </div>                            
                        </div>
                        <!-- menu perfil : Fim -->
                        <!-- Conteudo perfil : inicio -->
                        <div class="perfil-content col-xs-12 col-sm-8 col-sm-pull-4 m-t-sm no-m-t-xs">
                            <div class="row m-t-xs">
                                <div class="col-xs-12">
                                    <p class="m-b-sm">
                                        {{ activityUser.description}}
                                    </p>
                                </div>
                            </div>
                            <h3 class="m-b-xss">{{activityUser.evaluation.evaluations.items.length}} Review(s)</h3>
                            <div class="row" *ngIf="activityUser.evaluation.evaluations.items.length > 0; else empty">
                                <!-- Desktop -->
                                <div class="col-xs-12">
                                    <div class="clearfix m-b-xss chat-baloon-left" *ngFor="let review of activityUser.evaluation.evaluations.items">                                
                                        <div class="col-sm-2 col-xs-3">
                                            <div class="divProfile divProfile-small">
                                                <img alt="Photo Profile" class="img-responsive img-circle pro img-profile-blue" [src]="review.userPicture">
                                                <span *ngIf="worbbiorPremium" class="profile-pro"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10 col-xs-9">
                                            <div class="col-sm-offset-0 no-pad-left-lg">
                                                <div class="card-chat arrow-left">
                                                    <div class="arrow-chat"></div>
                                                    <div class="card-chat-content cor-Cinder">
                                                        <div class="card-chat-title m-b-xxs cor-Denim">
                                                            {{review.nameUserId}} - {{review.creationTime | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}
                                                        </div>
                                                        {{review.comments}}
                                                    </div>
                                                </div>
                                            </div>	
                                        </div>                                
                                    </div>
                                    <button *ngIf="showButtonMore" type="button" class="btn btn-prime btn-block m-t-20px hidden-xs" (click)="loadingMore()">Ler todos</button>
                                </div>                                
                            </div>
                            <ng-template #empty>
                                <div class="well well-lg">
                                    Não foi encontrado nenhum resultado para esta pesquisa
                                </div>                          
                            </ng-template>
                        </div>
                        <!-- Conteudo perfil : Fim -->
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center cor-Cinder bg-White" *ngIf="!worbbiorPerfilCarregado">
            <img [src]="loading" width="50px" /> Carregando
        </div>
    </section>

    <!-- SIMILAR ACTIVITIES -->
    <section *ngIf="!showLoginRegister" class="similar-activities">
        <div class="container-fluid bg-Solititude bg-fluid-hidden p-y-sm" *ngIf="similarActivityCarregado">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="m-b-xss no-m-t">Veja outras atividades similares</h3>
                            <slick-slider class="row text-center no-m">
                                <!-- card-talent : inicio -->
                                <div class="card-shadow card-talent" *ngFor="let similarActivity of similarActivityList">
                                    <a (click)="goToActivityPage(similarActivity.userId, similarActivity.id, similarActivity.title)">
                                        <div class="imagem-display" *ngIf="similarActivity != undefined && similarActivity.featuredImage != undefined" [style.background]="'url(' + similarActivity.featuredImage + ')'"></div>
                                        <div class="p-xss">
                                            <h4 class="txt-small text-left no-m-y no-m-x">
                                                {{similarActivity.title}}
                                            </h4>
                                            <div class="row m-t-xss">
                                                <div class="col-xs-6">
                                                    <rating [(ngModel)]="similarActivity.averageEvaluations"
                                                            max="5"
                                                            class="m-r-xxs txt-small"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                    </rating>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <span class="txt-smaller">{{similarActivity.evaluation.evaluations.items.length}} Review(s)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- card-talent : Fim -->
                            </slick-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center cor-Cinder bg-White" *ngIf="!similarActivityCarregado">
            <img [src]="loading" width="50px" /> Carregando
        </div>
    </section>

    <!-- OTHER ACTIVITIES -->
    <section *ngIf="!showLoginRegister" class="other-activities">
        <div class="container-fluid bg-WhiteLilac bg-fluid-hidden p-y-sm">
            <div class="row">
                <div class="container">
                    <div class="find-talent-content no-m-t">
                        <!-- CATEGORIA POPULAR : inicio -->
                        <h3 class="m-b-xss no-m-t">
                            <span>Você também pode gostar</span>
                            <a class="small pull-right cor-Denim m-y-5px" routerLink="/talentos">
                                {{l("ViewAll")}} <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </h3>
                        <!-- desktop : inicio -->
                        <div class="row">
                            <!-- grupo 1 : inicio -->
                            <div class="col-xs-12 col-md-4">
                                <!-- imagem destaque : imicio -->
                                <div class="feature-interest-center bg-Cinder">
                                    <a [routerLink]="['/centro-interesse', '16-Master-chefs']">
                                        <div class="bg-Img-Cover" style="background-image:url('/assets/metronic/worbby/global/img/destaque-masterchef.jpg')"></div>
                                        <img class="interest-conter-icon" style="width: 65px;" src="/assets/metronic/worbby/global/img/icon-cook.svg" />
                                        <div class="btn btn-feature-interest-center cursor-pointer">Master chefs</div>
                                    </a>
                                </div>
                                <!-- imagem destaque : fim -->
                                <!-- sub categorias : inicio -->
                                <div class="feature-subcategory">
                                    <button (click)="navigateToFindATalent(16, 113)" type="button" class="btn btn-feature-subcategory">Bebidas</button>
                                    <button (click)="navigateToFindATalent(16, 110)" type="button" class="btn btn-feature-subcategory">Bolos</button>
                                    <button (click)="navigateToFindATalent(16, 108)" type="button" class="btn btn-feature-subcategory">Comida caseira</button>
                                    <button (click)="navigateToFindATalent(16, 109)" type="button" class="btn btn-feature-subcategory">Comida light</button>
                                    <button (click)="navigateToFindATalent(16, 111)" type="button" class="btn btn-feature-subcategory">Doces</button>
                                    <button (click)="navigateToFindATalent(16, 107)" type="button" class="btn btn-feature-subcategory">Especialidades gastronômicas</button>
                                    <button (click)="navigateToFindATalent(16, 112)" type="button" class="btn btn-feature-subcategory">Salgados</button>
                                </div>
                                <!-- sub categorias : Fim -->
                            </div>
                            <!-- grupo 1 : fim -->
                            <!-- grupo 2: inicio -->
                            <div class="col-xs-12 col-md-4">
                                <!-- imagem destaque : Inicio -->
                                <div class="feature-interest-center bg-Cinder">
                                    <a [routerLink]="['/centro-interesse', '2-Apaixonados-por-bichos']">
                                        <div class="bg-Img-Cover" style="background-image:url('/assets/metronic/worbby/global/img/destaque-pet.jpg')"></div>
                                        <img class="interest-conter-icon" style="width: 65px;" src="/assets/metronic/worbby/global/img/icon-pets.svg" />
                                        <div class="btn btn-feature-interest-center cursor-pointer">Apaixonados por bichos</div>
                                    </a>
                                </div>
                                <!-- imagem destaque : fim -->
                                <!-- sub categorias : inicio -->
                                <div class="feature-subcategory">
                                    <button (click)="navigateToFindATalent(2, 27)" type="button" class="btn btn-feature-subcategory">Alimentação</button>
                                    <button (click)="navigateToFindATalent(2, 25)" type="button" class="btn btn-feature-subcategory">Cuidar</button>
                                    <button (click)="navigateToFindATalent(2, 28)" type="button" class="btn btn-feature-subcategory">Eventos e encontros</button>
                                    <button (click)="navigateToFindATalent(2, 26)" type="button" class="btn btn-feature-subcategory">Hospedagem</button>
                                    <button (click)="navigateToFindATalent(2, 23)" type="button" class="btn btn-feature-subcategory">Passear</button>
                                    <button (click)="navigateToFindATalent(2, 29)" type="button" class="btn btn-feature-subcategory">Transporte</button>
                                    <button (click)="navigateToFindATalent(2, 24)" type="button" class="btn btn-feature-subcategory">Treinar</button>
                                    <button (click)="navigateToFindATalent(2, 30)" type="button" class="btn btn-feature-subcategory">Outros</button>
                                </div>
                                <!-- sub categorias : Fim -->
                            </div>
                            <!-- Grupo 2 : Fim -->
                            <!-- Grupo 3 : Inicio -->
                            <div class="col-xs-12 col-md-4">
                                <!-- imagem destaque : inicio -->
                                <div class="feature-interest-center bg-Cinder">
                                    <a [routerLink]="['/centro-interesse', '11-Gente-de-esportes']">
                                        <div class="bg-Img-Cover" style="background-image:url('/assets/metronic/worbby/global/img/Destaque-esporte.jpg')"></div>
                                        <img class="interest-conter-icon" style="width: 65px;" src="/assets/metronic/worbby/global/img/icon-sports.svg" />
                                        <div class="btn btn-feature-interest-center cursor-pointer">Gente de esportes</div>
                                    </a>
                                </div>
                                <!-- imagem destaque : fim -->
                                <!-- sub categorias : inicio -->
                                <div class="feature-subcategory">
                                    <button (click)="navigateToFindATalent(11,88)" type="button" class="btn btn-feature-subcategory">Organizar</button>
                                    <button (click)="navigateToFindATalent(11,86)" type="button" class="btn btn-feature-subcategory">Praticar</button>
                                    <button (click)="navigateToFindATalent(11,89)" type="button" class="btn btn-feature-subcategory">Reparo de equipamentos</button>
                                    <button (click)="navigateToFindATalent(11,87)" type="button" class="btn btn-feature-subcategory">Treinar</button>
                                </div>
                                <!-- sub categorias : Fim -->
                            </div>
                            <!-- Grupo 3 : Fim -->
                        </div>
                        <!-- desktop : inicio -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<sendReportModal #sendReportModal [inputId]="worbbiorId" [inputType]="'worbbior'"></sendReportModal>