<div [@routerTransition] class="activity-page worbbior-profile" id="topo" name="topo">
    
    <!-- BANNER -->
    <section class="container-fluid activity-center" style="height: 500px">
        <div class="activity-center-banner" style="height: 500px" [style.background]="'url(' + searchBanner + ')'"></div>
        <div class="container">
            <div class="row m-t-20px">
                <div class="col-xs-6">
                    <a class="cor-White" href="#">
                        <i class="fa fa-angle-left"></i>
                        <span>VOLTAR</span>
                    </a>
                </div>
                <div class="col-xs-6 text-right">
                     <a class="cor-White" href="#">
                         <span>PRÓXIMA ATIVIDADE</span>
                         <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="row" *ngIf="activityUser != undefined && activityUser.listInterestCenter.items.length > 0">
                <div class="col-xs-12 text-center">
                    <div class="icone-box m-t-xs m-x-xxs" *ngFor="let icon of activityUser.listInterestCenter.items">
                        <img [src]="icon.interestCenterPicture" *ngIf="icon != undefined" placement="bottom" [tooltip]="icon.displayName" />                        
                        <img [src]="loading" alt="Carregando" *ngIf="icon == undefined" width="80px" />
                    </div>
                    <h2 class="m-t-40px">"{{activityUser.title}}"</h2>
                </div>
            </div>
        </div>
    </section>

    <!-- REVIEWS -->
    <section *ngIf="active">
        <div class="container-fluid bg-WhiteLilac bg-fluid-hidden">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <!-- menu perfil : inicio -->
                        <div class="col-xs-12 col-sm-4 col-sm-push-8 bg-White bg-fluid menuProfile m-b-xss">
                            <div class="card-profile">
                                <div class="col-xs-12">
                                    <div class="sidebar-header m-t-sm p-b-sm">
                                        <div class="display-table">
                                            <div class="divProfile m-r-20px-sm">
                                                <img id="HeaderProfilePicture" alt="Photo Profile" class="img-responsive img-circle img-profile pro" [src]="worbbiorProfile.worbbior.userPicture" />
                                               <span *ngIf="worbbiorProfile.worbbior.premium" class="profile-pro"></span>
                                            </div>
                                            <div class="display-cell alignTop">
                                                <h4 class="no-m-y profileName">{{worbbiorProfile.worbbior.displayName}}</h4>
                                                <p class="no-m-y cor-Botticelli small hidden-xs">{{worbbiorProfile.address.subLocality}}, {{worbbiorProfile.address.locality}}</p>
                                                <p class="cor-Botticelli small visible-xs">{{worbbiorProfile.worbbior.description}}</p>                                                                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Profile details : inicio -->
                                <div class="profile-details">
                                    <div class="col-xs-12 hidden-xs">
                                        <p class="m-t-sm">{{l("AboutMe")}}</p>
                                        <p class="cor-Botticelli">{{worbbiorProfile.worbbior.description}}</p>
                                    </div>
                                    <div class="col-xs-12 divider">
                                        <div class="display-table">
                                            <div class="display-cell">
                                                <p class="small cor-Botticelli text-right">{{l("Location")}}</p>
                                            </div>
                                            <div class="display-cell">
                                                <p class="inline">{{worbbiorProfile.address.subLocality}}, {{worbbiorProfile.address.locality}}</p>
                                                <p *ngIf="worbbiorProfile.worbbior.distance" class="no-m-b small cor-Botticelli"> {{worbbiorProfile.worbbior.distance}} km <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 divider">
                                        <div class="display-table">
                                            <div class="display-cell">
                                                <p class="small cor-Botticelli text-right">{{l("Availabilities")}}</p>
                                            </div>
                                            <div class="display-cell" *ngIf="worbbiorProfile != undefined && worbbiorProfile.availabilities.items.length > 0">
                                                <p class="no-m-y p-y-xxs" *ngFor="let availability of worbbiorProfile.availabilities.items">
                                                    {{l(DayOfWeek[availability.dayOfWeek.toString()])}} - 
                                                    {{availability.startTime}} - 
                                                    {{availability.endTime}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 divider">
                                         <div class="display-table">
                                            <div class="display-cell">
                                                <p class="small cor-Botticelli text-right">{{l("Evaluation")}}</p>
                                            </div>
                                            <div class="display-cell">
                                                <rating [(ngModel)]="worbbiorProfile.evaluation.averageEvaluations"
                                                        max="5"
                                                        class="m-r-xxs"
                                                        required="true"
                                                        [readonly]="true"
                                                        stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                        [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                </rating>
                                                <p class="inline">{{worbbiorProfile.evaluation.evaluations.items.length}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 m-t-sm divider">
                                        <p class="cor-Botticelli m-b-20px m-t-sm">Compartilhar este perfil com seus amigos:</p>
                                        <div class="social-list">
                                            <ul class="list-unstyled list-inline">
                                                <li class="m-r-12px m-b-xxs">
                                                    <a (click)="sharedFacebook()">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-fb.svg" alt="icon Facebook" />
                                                    </a>
                                                </li>
                                                <li class="m-r-12px m-b-xxs">
                                                    <a [shareButton]="'twitter'">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-twitter.svg" alt="icon Twitter" />
                                                    </a>
                                                </li>
                                                <li class="m-r-12px m-b-xxs">
                                                    <a [shareButton]="'googleplus'">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-gplus.svg" alt="icon G+" />
                                                    </a>
                                                </li>
                                                <li class="m-r-xss m-b-xxs" *ngIf="appSession.isMobileDevice">
                                                    <a [attr.href]="whatsappLink" target="_blank">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-whatsapp5.svg" alt="icon Whatsapp" />
                                                    </a>
                                                </li>
                                                <li class="m-r-12px m-b-xxs">
                                                    <a [shareButton]="'pinterest'">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-pin.svg" alt="icon Pintrest" />
                                                    </a>
                                                </li>
                                                <li class="m-b-xxs">
                                                    <a [shareButton]="'linkedIn'">
                                                        <img class="" src="/assets/metronic/worbby/global/img/social-in.svg" alt="icon LinkedIn" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <!-- Profile details : Fim -->
                            </div>
                        </div>
                        <!-- menu perfil : Fim -->
                        <!-- Conteudo perfil : inicio -->
                        <div *ngIf="!showLoginRegister" class="perfil-content col-xs-12 col-sm-8 col-sm-pull-4 m-t-sm no-m-t-xs">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="m-b-sm">
                                        {{ activityUser.description}}
                                    </p>
                                </div>
                            </div>
                            <h3 class="m-b-xss">{{activityUser.evaluation.evaluations.items.length}} Review(s)</h3>
                            <div class="row" *ngIf="activityUser.evaluation.evaluations.items.length > 0; else empty">
                                <!-- Desktop -->
                                <div class="col-xs-12">
                                    <div class="clearfix m-b-xss chat-baloon-left" *ngFor="let review of activityUser.evaluation.evaluations.items">                                
                                        <div class="col-sm-2 col-xs-3">
                                            <div class="divProfile divProfile-small">
                                                <img alt="Photo Profile" class="img-responsive img-circle pro img-profile-blue" [src]="review.userPicture">
                                                <span *ngIf="worbbiorPremium" class="profile-pro"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10 col-xs-9">
                                            <div class="col-sm-offset-0 no-pad-left-lg">
                                                <div class="card-chat arrow-left">
                                                    <div class="arrow-chat"></div>
                                                    <div class="card-chat-content cor-Cinder">
                                                        <div class="card-chat-title m-b-xxs cor-Denim">
                                                            {{review.nameUserId}} - {{review.creationTime | amDateFormat:'DD/MM/YYYY HH:mm:ss'}}
                                                        </div>
                                                        {{review.comments}}
                                                    </div>
                                                </div>
                                            </div>	
                                        </div>                                
                                    </div>
                                    <button *ngIf="showButtonMore" type="button" class="btn btn-prime btn-block m-t-20px hidden-xs" (click)="loadingMore()">Ler todos</button>
                                </div>                                
                            </div>
                            <ng-template #empty>
                                <div class="well well-lg">
                                    Não foi encontrado nenhum resultado para esta pesquisa
                                </div>                          
                            </ng-template>
                        </div>
                        <!-- Conteudo perfil : Fim -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SIMILAR ACTIVITIES -->
    <section class="similar-activities">
        <div class="container-fluid bg-Solititude bg-fluid-hidden p-y-sm">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="m-b-xss no-m-t">Veja outras atividades similares</h3>
                            <slick-slider class="row text-center">
                                <!-- card-talent : inicio -->
                                <div class="card-shadow card-talent">
                                    <a [routerLink]="['/centro-interesse']">
                                        <img class="ico-btn" src="/assets/metronic/worbby/global/img/destaque-familia.jpg" alt="" />
                                        <div class="p-xss">
                                            <h4 class="txt-small text-left no-m-y no-m-x">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                            </h4>
                                            <div class="row m-t-xss">
                                                <div class="col-xs-6">
                                                    <rating [(ngModel)]="teste"
                                                            max="5"
                                                            class="m-r-xxs txt-small"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                    </rating>
                                                </div>
                                                <div class="col-xs-6"><span class="txt-smaller">7 Reviews</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- card-talent : Fim -->
                                <!-- card-talent : inicio -->
                                <div class="card-shadow card-talent">
                                    <a [routerLink]="['/centro-interesse']">
                                        <img class="ico-btn" src="/assets/metronic/worbby/global/img/destaque-familia.jpg" alt="" />
                                        <div class="p-xss">
                                            <h4 class="txt-small text-left no-m-y no-m-x">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                            </h4>
                                            <div class="row m-t-xss">
                                                <div class="col-xs-6">
                                                    <rating [(ngModel)]="teste"
                                                            max="5"
                                                            class="m-r-xxs txt-small"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                    </rating>
                                                </div>
                                                <div class="col-xs-6"><span class="txt-smaller">7 Reviews</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- card-talent : Fim -->
                                <!-- card-talent : inicio -->
                                <div class="card-shadow card-talent">
                                    <a [routerLink]="['/centro-interesse']">
                                        <img class="ico-btn" src="/assets/metronic/worbby/global/img/destaque-familia.jpg" alt="" />
                                        <div class="p-xss">
                                            <h4 class="txt-small text-left no-m-y no-m-x">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                            </h4>
                                            <div class="row m-t-xss">
                                                <div class="col-xs-6">
                                                    <rating [(ngModel)]="teste"
                                                            max="5"
                                                            class="m-r-xxs txt-small"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                    </rating>
                                                </div>
                                                <div class="col-xs-6"><span class="txt-smaller">7 Reviews</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- card-talent : Fim -->
                                <!-- card-talent : inicio -->
                                <div class="card-shadow card-talent">
                                    <a [routerLink]="['/centro-interesse']">
                                        <img class="ico-btn" src="/assets/metronic/worbby/global/img/destaque-familia.jpg" alt="" />
                                        <div class="p-xss">
                                            <h4 class="txt-small text-left no-m-y no-m-x">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                            </h4>
                                            <div class="row m-t-xss">
                                                <div class="col-xs-6">
                                                    <rating [(ngModel)]="teste"
                                                            max="5"
                                                            class="m-r-xxs txt-small"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                    </rating>
                                                </div>
                                                <div class="col-xs-6"><span class="txt-smaller">7 Reviews</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- card-talent : Fim -->
                                <!-- card-talent : inicio -->
                                <div class="card-shadow card-talent">
                                    <a [routerLink]="['/centro-interesse']">
                                        <img class="ico-btn" src="/assets/metronic/worbby/global/img/destaque-familia.jpg" alt="" />
                                        <div class="p-xss">
                                            <h4 class="txt-small text-left no-m-y no-m-x">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                            </h4>
                                            <div class="row m-t-xss">
                                                <div class="col-xs-6">
                                                    <rating [(ngModel)]="teste"
                                                            max="5"
                                                            class="m-r-xxs txt-small"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                    </rating>
                                                </div>
                                                <div class="col-xs-6"><span class="txt-smaller">7 Reviews</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- card-talent : Fim -->
                                <!-- card-talent : inicio -->
                                <div class="card-shadow card-talent">
                                    <a [routerLink]="['/centro-interesse']">
                                        <img class="ico-btn" src="/assets/metronic/worbby/global/img/destaque-familia.jpg" alt="" />
                                        <div class="p-xss">
                                            <h4 class="txt-small text-left no-m-y no-m-x">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                            </h4>
                                            <div class="row m-t-xss">
                                                <div class="col-xs-6">
                                                    <rating [(ngModel)]="teste"
                                                            max="5"
                                                            class="m-r-xxs txt-small"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                    </rating>
                                                </div>
                                                <div class="col-xs-6"><span class="txt-smaller">7 Reviews</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- card-talent : Fim -->
                                <!-- card-talent : inicio -->
                                <div class="card-shadow card-talent">
                                    <a [routerLink]="['/centro-interesse']">
                                        <img class="ico-btn" src="/assets/metronic/worbby/global/img/destaque-familia.jpg" alt="" />
                                        <div class="p-xss">
                                            <h4 class="txt-small text-left no-m-y no-m-x">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                            </h4>
                                            <div class="row m-t-xss">
                                                <div class="col-xs-6">
                                                    <rating [(ngModel)]="teste"
                                                            max="5"
                                                            class="m-r-xxs txt-small"
                                                            required="true"
                                                            [readonly]="true"
                                                            stateOn="glyphicon-heart" stateOff="glyphicon-heart-empty"                                                 
                                                            [titles]="['um', 'dois', 'três', 'quatro', 'cinco']">
                                                    </rating>
                                                </div>
                                                <div class="col-xs-6"><span class="txt-smaller">7 Reviews</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- card-talent : Fim -->
                            </slick-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- OTHER ACTIVITIES -->
    <section class="other-activities">
        <div class="container-fluid bg-WhiteLilac bg-fluid-hidden p-y-sm">
            <div class="row">
                <div class="container">
                    <div class="find-talent-content no-m-t">
                        <!-- CATEGORIA POPULAR : inicio -->
                        <h3 class="m-b-xss no-m-t">
                            <span>Você também pode gostar</span>
                            <a class="small pull-right cor-Denim m-y-5px" routerLink="/talentos">
                                {{l("ViewAll")}} <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </h3>
                        <!-- desktop : inicio -->
                        <div class="row">
                            <!-- grupo 1 : inicio -->
                            <div class="col-xs-12 col-md-4">
                                <!-- imagem destaque : imicio -->
                                <div class="feature-interest-center bg-Cinder">
                                    <a [routerLink]="['/centro-interesse', '16-Master-chefs']">
                                        <div class="bg-Img-Cover" style="background-image:url('/assets/metronic/worbby/global/img/destaque-masterchef.jpg')"></div>
                                        <img class="interest-conter-icon" style="width: 65px;" src="/assets/metronic/worbby/global/img/icon-cook.svg" />
                                        <div class="btn btn-feature-interest-center cursor-pointer">Master chefs</div>
                                    </a>
                                </div>
                                <!-- imagem destaque : fim -->
                                <!-- sub categorias : inicio -->
                                <div class="feature-subcategory">
                                    <button (click)="setSubcategory(16, 113)" type="button" class="btn btn-feature-subcategory">Bebidas</button>
                                    <button (click)="setSubcategory(16, 110)" type="button" class="btn btn-feature-subcategory">Bolos</button>
                                    <button (click)="setSubcategory(16, 108)" type="button" class="btn btn-feature-subcategory">Comida caseira</button>
                                    <button (click)="setSubcategory(16, 109)" type="button" class="btn btn-feature-subcategory">Comida light</button>
                                    <button (click)="setSubcategory(16, 111)" type="button" class="btn btn-feature-subcategory">Doces</button>
                                    <button (click)="setSubcategory(16, 107)" type="button" class="btn btn-feature-subcategory">Especialidades gastronômicas</button>
                                    <button (click)="setSubcategory(16, 112)" type="button" class="btn btn-feature-subcategory">Salgados</button>
                                </div>
                                <!-- sub categorias : Fim -->
                            </div>
                            <!-- grupo 1 : fim -->
                            <!-- grupo 2: inicio -->
                            <div class="col-xs-12 col-md-4">
                                <!-- imagem destaque : Inicio -->
                                <div class="feature-interest-center bg-Cinder">
                                    <a [routerLink]="['/centro-interesse', '2-Apaixonados-por-bichos']">
                                        <div class="bg-Img-Cover" style="background-image:url('/assets/metronic/worbby/global/img/destaque-pet.jpg')"></div>
                                        <img class="interest-conter-icon" style="width: 65px;" src="/assets/metronic/worbby/global/img/icon-pets.svg" />
                                        <div class="btn btn-feature-interest-center cursor-pointer">Apaixonados por bichos</div>
                                    </a>
                                </div>
                                <!-- imagem destaque : fim -->
                                <!-- sub categorias : inicio -->
                                <div class="feature-subcategory">
                                    <button (click)="setSubcategory(2, 27)" type="button" class="btn btn-feature-subcategory">Alimentação</button>
                                    <button (click)="setSubcategory(2, 25)" type="button" class="btn btn-feature-subcategory">Cuidar</button>
                                    <button (click)="setSubcategory(2, 28)" type="button" class="btn btn-feature-subcategory">Eventos e encontros</button>
                                    <button (click)="setSubcategory(2, 26)" type="button" class="btn btn-feature-subcategory">Hospedagem</button>
                                    <button (click)="setSubcategory(2, 23)" type="button" class="btn btn-feature-subcategory">Passear</button>
                                    <button (click)="setSubcategory(2, 29)" type="button" class="btn btn-feature-subcategory">Transporte</button>
                                    <button (click)="setSubcategory(2, 24)" type="button" class="btn btn-feature-subcategory">Treinar</button>
                                    <button (click)="setSubcategory(2, 30)" type="button" class="btn btn-feature-subcategory">Outros</button>
                                </div>
                                <!-- sub categorias : Fim -->
                            </div>
                            <!-- Grupo 2 : Fim -->
                            <!-- Grupo 3 : Inicio -->
                            <div class="col-xs-12 col-md-4">
                                <!-- imagem destaque : inicio -->
                                <div class="feature-interest-center bg-Cinder">
                                    <a [routerLink]="['/centro-interesse', '11-Gente-de-esportes']">
                                        <div class="bg-Img-Cover" style="background-image:url('/assets/metronic/worbby/global/img/Destaque-esporte.jpg')"></div>
                                        <img class="interest-conter-icon" style="width: 65px;" src="/assets/metronic/worbby/global/img/icon-sports.svg" />
                                        <div class="btn btn-feature-interest-center cursor-pointer">Gente de esportes</div>
                                    </a>
                                </div>
                                <!-- imagem destaque : fim -->
                                <!-- sub categorias : inicio -->
                                <div class="feature-subcategory">
                                    <button (click)="setSubcategory(11,88)" type="button" class="btn btn-feature-subcategory">Organizar</button>
                                    <button (click)="setSubcategory(11,86)" type="button" class="btn btn-feature-subcategory">Praticar</button>
                                    <button (click)="setSubcategory(11,89)" type="button" class="btn btn-feature-subcategory">Reparo de equipamentos</button>
                                    <button (click)="setSubcategory(11,87)" type="button" class="btn btn-feature-subcategory">Treinar</button>
                                </div>
                                <!-- sub categorias : Fim -->
                            </div>
                            <!-- Grupo 3 : Fim -->
                        </div>
                        <!-- desktop : inicio -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
