<header public-header *ngIf="!isAuthenticated" class="navbar-fixed-top"></header>
<header app-header *ngIf="isAuthenticated" class="navbar-fixed-top"></header>

<div class="clearfix">
</div>

<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-loading">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Feedback Beta : Inicio -->
<feedbackComponent #feedbackComponent></feedbackComponent>
<!-- Feedback Beta : Fim -->
<changePasswordModal #changePasswordModal></changePasswordModal>
<notificationSettingsModal #notificationSettingsModal></notificationSettingsModal>

<footer class="footer"></footer>