<a (click)="showHideNotifications()" class="cursor-pointer">
    <i class="icon-bell"></i>
    <span class="badge badge-danger" *ngIf="unreadNotificationCount">{{unreadNotificationCount}}</span>
</a>

<div class="sidebar-notifications" [ngClass]="notificationOpen">
    <a (click)="showHideNotifications()" class="btn-close display-inline-block cursor-pointer">
        <i class="fa fa-times"></i>
    </a>
    <button type="button" class="btn-configuration" (click)="openNotificationSettingsModal()">
        <i class="fa fa-cog"></i>
    </button>    

    <div class="sidebar-notifications-header">        
        <button type="button" class="btn btn-prime txt-small" (click)="setAllNotificationsAsRead(); $event.preventDefault(); $event.stopPropagation();" *ngIf="unreadNotificationCount">
            {{l("SetAllAsRead")}}
        </button>            
    </div>

    <div class="sidebar-notifications-list">
        <ul *ngFor="let notification of notifications" class="dropdown-menu-list">
            <li>
                <span *ngIf="notification.state=='UNREAD'" id="icone" name="icone">
                    <i class="{{notification.icon}}"></i>
                </span>  
                <a (click)="gotoUrl(notification.url)" class="user-notification-item" [ngClass]="{'user-notification-item-unread': notification.state=='UNREAD', 'cursor-pointer': notification.url != ''}">
                    <span class="details">
                        {{notification.text}}
                    </span>
                    <div class="cor-Botticelli m-t-xxs">
                        <span class="notification-time" title="{{notification.time}}" jq-plugin="timeago"></span>
                        <span *ngIf="notification.state=='UNREAD'"> - <span class="set-as-read-text" (click)="setNotificationAsRead(notification); $event.preventDefault(); $event.stopPropagation();">{{l("SetAsRead")}}</span></span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="sidebar-notifications-empty" *ngIf="!notifications.length">
            {{l("ThereIsNoNotification")}}
        </div>
        <!--<a routerLink="notifications" class="btn btn-block btn-prime-inverted btn-around txt-small white-space">
            {{l("SeeAllNotifications")}}
        </a>-->
    </div>
</div>